Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

feat: add icon for Lean proof assistant language (.lean)
  icons/lean.svg
  icons/lean_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: oxc for .oxlintrc.json and .oxfmtrc.json
  icons/oxc.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

align a little bit
  icons/folder-migrations-open.svg
Due: bun run check, bun run check-colors

[WIP] update folder
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

improve alignment
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

make the database element taller and also give the arrow more space to breath
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

change colors
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

some changes
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

align arrow horizontally
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

Folder migrations
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

wip
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

Update colors
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

more changes
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

Update invalid colors
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

feat: add icons for .dom files (Dominossauro framework)
  icons/dom.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

style: format with Biome
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add feature folder icon
  icons/folder-features-open.svg
  icons/folder-features.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: oxc for .oxlintrc.json and .oxfmtrc.json (#3258)
  icons/oxc.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore(icon): update feature folder icon according to review
  icons/folder-features-open.svg
  icons/folder-features.svg
Due: bun run check, bun run check-colors

feat: update quarto icon SVG for improved resolution
  icons/quarto.svg
Due: bun run check, bun run check-colors

feat: add 'cppm' file extension to cpp icon mapping
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add feature folder icon (#3260)
  icons/folder-features-open.svg
  icons/folder-features.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: update Lean icon and remove light variant
  icons/lean.svg
  icons/lean_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for Lean proof assistant language (.lean) (#3256)
  icons/lean.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

figure 8
  icons/folder-devops-open.svg
Due: bun run check, bun run check-colors

sideways 8
  icons/folder-devops-open.svg
Due: bun run check, bun run check-colors

circle
  icons/folder-devops-open.svg
Due: bun run check, bun run check-colors

true circle
  icons/folder-devops-open.svg
Due: bun run check, bun run check-colors

two circles
  icons/folder-devops-open.svg
Due: bun run check, bun run check-colors

true direction figure 8
  icons/folder-devops-open.svg
Due: bun run check, bun run check-colors

glasses
  icons/folder-devops-open.svg
Due: bun run check, bun run check-colors

rough devops
  icons/folder-devops-open.svg
Due: bun run check, bun run check-colors

expand rough pointy devops
  icons/folder-devops-open.svg
Due: bun run check, bun run check-colors

devops final
  icons/folder-devops.svg
Due: bun run check, bun run check-colors

minify svg
  icons/folder-devops-open.svg
  icons/folder-devops.svg
Due: bun run check, bun run check-colors

add devops folder svg mapping
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Update fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: give Visual Studio icon to Solution Filter files (#3272)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  markdownlint: any of: *.md
