Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

feat: add `obsidian` and `trash` folder icons (#2606)
  icons/folder-obsidian-open.svg
  icons/folder-obsidian.svg
  icons/folder-trash-open.svg
  icons/folder-trash.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: ✨ add icon for `.tool-versions` file (#2748)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: 🐞adjust SVG size, remove transparency, add comma
  icons/xmake.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

#2702: changing forgejo folder background color
  icons/folder-forgejo-open.svg
  icons/folder-forgejo.svg
Due: bun run check, bun run check-colors

Add icon for compile_flags.txt
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: 🚑 better colors and shape
  icons/folder-bloc-open.svg
  icons/folder-bloc.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for `compile_flags.txt` file (#2763)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add icons for Forgejo folders (#2703)
  icons/folder-forgejo-open.svg
  icons/folder-forgejo.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: ✨ icon for `ruff` config file
  icons/ruff.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: 🐞remove spacing around the icon
  icons/xmake.svg
Due: bun run check, bun run check-colors

fix: add free space around
  icons/xmake.svg
Due: bun run check, bun run check-colors

fix: fix xmake icon
  icons/xmake.svg
Due: bun run check, bun run check-colors

feat: ✨ add new icons for xmake (#2723)
  icons/xmake.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: add some icons to exclusion list
  material-colors.yml
Due: none

feat: ✨ icon for `ruff` config file (#2766)
  icons/ruff.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: add some icons to exclusion list (#2769)
  material-colors.yml
Due: none

chore(workflows): :construction_worker: Add new workflow to close inactive issues
  .github/workflows/close-stale-issues.yml
Due: none

Update .github/workflows/close-stale-issues.yml
  .github/workflows/close-stale-issues.yml
Due: none

chore(workflows): :construction_worker: Add workflow to close inactive issues (#2771)
  .github/workflows/close-stale-issues.yml
Due: none

feat: add missing stryker filenames
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add lintstaged icons
  icons/lintstaged.svg
  icons/lintstaged_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add missing stryker filenames (#2772)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: ✨ add icon for for `phpstan` (#2264)
  icons/phpstan.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add pipeline folder name
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

refactor: :art: use clones instead of folder icons for NgRx folder icons
  icons/folder-ngrx-actions-open.svg
  icons/folder-ngrx-actions.svg
  icons/folder-ngrx-effects-open.svg
  icons/folder-ngrx-effects.svg
  icons/folder-ngrx-entities-open.svg
  icons/folder-ngrx-entities.svg
  icons/folder-ngrx-reducer-open.svg
  icons/folder-ngrx-reducer.svg
  icons/folder-ngrx-selectors-open.svg
  icons/folder-ngrx-selectors.svg
  icons/folder-ngrx-state-open.svg
  icons/folder-ngrx-state.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: add license file to the distribution files
  .vscodeignore
Due: none

fix: add license back to bundle (#2775)
  .vscodeignore
Due: none

feat: add pipeline folder name (#2774)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix: :bug: base icons of clones can be disabled by icon pack and still be used
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/fileGenerator.ts
  src/core/generator/folderGenerator.ts
  src/core/generator/languageGenerator.ts
Due: bun run lint, bun run test

Fix logic of concatenating all enabled icons
  src/core/generator/fileGenerator.ts
  src/core/generator/folderGenerator.ts
  src/core/generator/languageGenerator.ts
Due: bun run lint, bun run test

Fix unit tests
  src/core/tests/icons/fileIcons.test.ts
  src/core/tests/icons/folderIcons.test.ts
  src/core/tests/icons/languageIcons.test.ts
Due: bun run lint, bun run test

Refactor language ids
  src/core/generator/languageGenerator.ts
  src/core/icons/languageIcons.ts
  src/core/models/icons/languages/languageIdentifier.ts
  src/core/tests/icons/languageIcons.test.ts
  src/scripts/icons/checks/checkIconAvailability.ts
  src/scripts/icons/checks/checkIconConflicts.ts
  src/scripts/icons/checks/checkIconUsage.ts
  src/scripts/preview/run.ts
Due: bun run lint, bun run test

Refactor folder-redux with clones
  icons/folder-redux-actions-open.svg
  icons/folder-redux-actions.svg
  icons/folder-redux-selector-open.svg
  icons/folder-redux-selector.svg
  icons/folder-redux-store-open.svg
  icons/folder-redux-store.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: 🔒 use text-based Bun lockfile
  bun.lock
  bun.lockb
  bunfig.toml
Due: none

fix: 🐛 correct Bun lockfile name in Biome configuration
  biome.jsonc
Due: bun run lint

feat: implement clone feature for language icons
  package.json
  package.nls.json
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/clones/utils/cloneData.ts
  src/core/generator/config/defaultConfig.ts
  src/core/index.ts
  src/core/models/icons/config.ts
  src/core/models/icons/languages/languageIdentifier.ts
  src/core/tests/icons/cloning.test.ts
  src/core/tests/icons/languageIcons.test.ts
  src/scripts/icons/checks/checkIconAvailability.ts
  src/scripts/icons/checks/run.ts
  src/scripts/icons/generateClones.ts
Due: bun run lint, bun run test

Add ".clone" file extension to the icon definition
  src/core/generator/fileGenerator.ts
  src/core/generator/languageGenerator.ts
Due: bun run lint, bun run test

chore: 🔒 use text-based Bun lockfile (#2779)
  biome.jsonc
  bun.lock
  bun.lockb
  bunfig.toml
Due: bun run lint

Add icon for ahk2
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

fix: :bug: fix issue with disabled base icons of clones (#2776)
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/fileGenerator.ts
  src/core/generator/folderGenerator.ts
  src/core/generator/languageGenerator.ts
  src/core/tests/icons/fileIcons.test.ts
  src/core/tests/icons/folderIcons.test.ts
  src/core/tests/icons/languageIcons.test.ts
Due: bun run lint, bun run test

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  bun run test: any of: *.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  bun run markdownlint: any of: *.md
