Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

feat(workflows): :construction_worker: detect potential duplicates in issues (#2787)
  .github/workflows/potential-duplicates.yml
Due: none

chore(ci): 🔖 use new label format (#2786)
  .github/labeler.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/pr-title.yml
Due: none

ci: ♻️ use a limited range of files for checkout (#2789)
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/pr-title.yml
Due: none

feat(ci): 🔖 add appropriate labels to PRs with failed checks (#2785)
  .github/actions/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

fix: run labeler script in build workflow only in PR (#2788)
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

fix(workflows): 🚑 fix permissions of workflows with label management
  .github/actions/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

fix: disable husky in release pipeline
  .github/workflows/release.yml
  .lintstagedrc
  CHANGELOG.md
  package.json
Due: bun run lint, bun run markdownlint

fix: remove duplicated changelog entry for v5.16.0
  CHANGELOG.md
Due: bun run markdownlint

fix: undo changes from sparse-checkout for workflow script
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

Update folder icons
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(icons): 🎨 update VitePress folder colors
  icons/folder-vitepress-open.svg
  icons/folder-vitepress.svg
Due: bun run check, bun run check-colors

fix: 🚑 better colors and shape
  icons/folder-bloc-open.svg
  icons/folder-bloc.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: remove `persist-credentials: false`
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
Due: none

test
  icons/abc.svg
Due: bun run check, bun run check-colors

fix: fix sparse checkouts
  .github/scripts/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

fix script path
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

make script executable again
  .github/scripts/update-status-label.sh
Due: none

exit with status 0
  .github/scripts/update-status-label.sh
Due: none

debug
  icons/ab.svg
Due: bun run check, bun run check-colors

add always condition
  .github/workflows/build.yml
Due: none

Revert "test"
  icons/ab.svg
Due: bun run check, bun run check-colors

Revert "debug"
  icons/abc.svg
Due: bun run check, bun run check-colors

Add missing languageIds to cloneConfig
  src/core/generator/clones/utils/cloning.ts
Due: bun run lint, bun run test

Adjust unit tests
  src/core/tests/icons/cloning.test.ts
Due: bun run lint, bun run test

feat: implement cloning functionality for language icons (#2780)
  README.md
  images/how-tos/cloned-language-icons-example.png
  package.json
  package.nls.json
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/clones/utils/cloneData.ts
  src/core/generator/clones/utils/cloning.ts
  src/core/generator/config/defaultConfig.ts
  src/core/generator/fileGenerator.ts
  src/core/generator/languageGenerator.ts
  src/core/icons/languageIcons.ts
  src/core/index.ts
  src/core/models/icons/config.ts
  src/core/models/icons/files/fileIcon.ts
  src/core/models/icons/folders/folderIcon.ts
  src/core/models/icons/languages/languageIdentifier.ts
  src/core/models/icons/lightSettings.ts
  src/core/tests/icons/cloning.test.ts
  src/core/tests/icons/fileIcons.test.ts
  src/core/tests/icons/languageIcons.test.ts
  src/scripts/icons/checks/checkIconAvailability.ts
  src/scripts/icons/checks/checkIconConflicts.ts
  src/scripts/icons/checks/checkIconUsage.ts
  src/scripts/icons/checks/run.ts
  src/scripts/icons/generateClones.ts
  src/scripts/preview/run.ts
Due: bun run lint, bun run test, bun run markdownlint

Remove duplicated entries
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

feat: add icon for Autohotkey v2 (#2781)
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

refactor(ci): ♻️ organize the structure and make clear the names of the steps in workflows
  .github/FUNDING.yml
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
  .github/workflows/label.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
Due: none

fix: fix labeler triggers
  .github/workflows/label.yml
Due: none

chore(workflows): ✨ update merge success message formatting
  .github/workflows/pr-closed.yml
Due: none

chore(devcontainer): ⏫ update preinstalled extensions list
  .devcontainer/devcontainer.json
Due: bun run lint

chore: 🔒 make `bun.lock` readonly
  .vscode/settings.json
Due: bun run lint

ci: use pull_request_target
  .github/workflows/icon-review.yml
  .github/workflows/pr-closed.yml
Due: none

fix(ci): fix labeler triggers
  .github/workflows/label.yml
  .github/workflows/pr-closed.yml
Due: none

feat: add wrangler icon
  icons/wrangler.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: 🔒 make `bun.lock` readonly (#2801)
  .vscode/settings.json
Due: bun run lint

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  bun run test: any of: *.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  bun run markdownlint: any of: *.md
