Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

feat(icons): save toc icons as optimized svgs
  icons/folder-toc-open.svg
  icons/folder-toc.svg
  icons/toc.svg
Due: bun run check, bun run check-colors

feat(icons): remove groups and complex transforms from toc icons
  icons/folder-toc-open.svg
  icons/folder-toc.svg
  icons/toc.svg
Due: bun run check, bun run check-colors

feat(icons): add toc icon associations
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: ✨ prompt folder and file icons
  icons/folder-prompts-open.svg
  icons/folder-prompts.svg
  icons/prompt.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

added `varnish` icon
  icons/varnish.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: ✨ prompt folder and file icons (#3141)
  icons/folder-prompts-open.svg
  icons/folder-prompts.svg
  icons/prompt.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: adjust spacing of varnish icon
  icons/varnish.svg
Due: bun run check, bun run check-colors

feat(icon): added `varnish` icon (#3142)
  icons/varnish.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add `verse` icon and light variant
  icons/verse.svg
  icons/verse_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add lintstaged icon and update file extensions
  icons/lintstaged.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Apply `meta` folder icon to `metadata` folder
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: apply `meta` folder icon to `metadata` folder (#3145)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(toc): align material toc icon to 16x16 grid
  icons/toc.svg
Due: bun run check, bun run check-colors

feat(icons): change toc icons to material icons toc
  icons/folder-toc-open.svg
  icons/folder-toc.svg
  icons/toc.svg
Due: bun run check, bun run check-colors

feat(toc): use material icons toc icon
  icons/toc.svg
Due: bun run check, bun run check-colors

feat(cursor): add cursor icon, not yet material style
  icons/cursor.svg
Due: bun run check, bun run check-colors

feat: add lintstaged icons (#2794)
  icons/lintstaged.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(cursor): add cursor icons
  icons/cursor.svg
  icons/cursor_dark.svg
  icons/cursor_light.svg
  icons/folder-cursor-open_dark.svg
  icons/folder-cursor-open_light.svg
  icons/folder-cursor_dark.svg
  icons/folder-cursor_light.svg
Due: bun run check, bun run check-colors

fix(svg): replace non-material colors in cursor icons
  icons/cursor_light.svg
  icons/folder-cursor-open_dark.svg
  icons/folder-cursor-open_light.svg
  icons/folder-cursor_dark.svg
  icons/folder-cursor_light.svg
Due: bun run check, bun run check-colors

feat(cursor): add cursor file and folder mappings
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(check-colors): ignore deleted SVGs when linting staged files (bun check-colors)
  src/scripts/svg/checkSvgColors.ts
Due: bun run lint

fix(check-colors): ignore deleted SVGs when linting staged files (#3147)
  src/scripts/svg/checkSvgColors.ts
Due: bun run lint

fix(icons): rename cursor icons to correct light and dark variants, fix folder icon mapping
  icons/cursor.svg
  icons/folder-cursor-open.svg
  icons/folder-cursor.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(icons): fix cursor light and dark variant naming by correctly renaming light variants, not dark
  icons/folder-cursor.svg
  icons/folder-cursor_dark.svg
Due: bun run check, bun run check-colors

fix(icons): fix cursor light and dark naming for real this time, only light have postfix
  icons/folder-cursor-open.svg
  icons/folder-cursor-open_dark.svg
  icons/folder-cursor-open_light.svg
  icons/folder-cursor.svg
  icons/folder-cursor_light.svg
Due: bun run check, bun run check-colors

Implement Icon for Quarto Files
  icons/quarto.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: better align folder icons to the grid
  icons/folder-cursor-open.svg
  icons/folder-cursor-open_light.svg
  icons/folder-cursor.svg
  icons/folder-cursor_light.svg
Due: bun run check, bun run check-colors

update icons
  icons/folder-trpc-open.svg
  icons/folder-trpc.svg
Due: bun run check, bun run check-colors

feat(icons): Add files compatible with eslint
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: eslint target file names
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: remove eslint filename
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Align icon to grid system
  icons/quarto.svg
Due: bun run check, bun run check-colors

feat(icons): Add files compatible with eslint (#3156)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add icon for quarto (#3151)
  icons/quarto.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: cursor icons (#3146)
  icons/cursor.svg
  icons/cursor_light.svg
  icons/folder-cursor-open.svg
  icons/folder-cursor-open_light.svg
  icons/folder-cursor.svg
  icons/folder-cursor_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: input folder icon
  icons/folder-input-open.svg
  icons/folder-input.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add onnx icon
  icons/onnx.svg
  icons/onnx_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add new icon for metro bundler
  icons/metro.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: input simulations icon
  icons/folder-simulations-open.svg
  icons/folder-simulations.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add new folder for metro bundler cache
  icons/folder-metro-open.svg
  icons/folder-metro.svg
  icons/metro.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors
