Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

feat: bolder sticker border, file icon gets the same contour
  icons/folder-nika.svg
  icons/nika.svg
Due: bun run check, bun run check-colors

feat: flat file butterfly in the primary blue, folder motive nudged up-left
  icons/folder-nika.svg
  icons/nika.svg
Due: bun run check, bun run check-colors

feat: add nika workflow file icon
  icons/nika.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update Quarto icon color
  icons/quarto.svg
Due: bun run check, bun run check-colors

feat: add Canopy icon for canopy.json
  icons/canopy.svg
  icons/canopy_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: migrate config file
  src/scripts/contributors/contributors.ts
  src/scripts/preview/preview.ts
  svgo.config.js
Due: bun run lint

fix(ci): add npm ci to the release workflow
  .github/workflows/release.yml
Due: none

update color only
  icons/quarto.svg
Due: bun run check, bun run check-colors

Add Plix language icon support
  icons/plix.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: change Renovate config to use recommended preset
  renovate.json
Due: none

feat: support lint-staged.config.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: support lint-staged.config.ts (#3541)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add tensorflow folder svg
  icons/folder-tensorflow.svg
Due: bun run check, bun run check-colors

feat: add folder icon for tensorflow
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add folder-tensorflow
  icons/folder-tensorflow.svg
Due: bun run check, bun run check-colors

feat: add keras icon
  icons/keras.svg
Due: bun run check, bun run check-colors

feat: add keras file icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix(icons): ensure 1px margin on keras icon at 16x16 render size
  icons/keras.svg
Due: bun run check, bun run check-colors

feat(icon): simplify dbt-bouncer icon to sunglasses
  icons/dbt-bouncer.svg
Due: bun run check, bun run check-colors

Fix Plix Icon & Add Plix icon
  git
  icons/plix.svg
Due: bun run check, bun run check-colors

Fix Plix Icon & Add Icon to extesion
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

feat: optimize icon
  icons/agent.svg
Due: bun run check, bun run check-colors

fix: minor improvements
  biome.jsonc
  icons/agent.svg
  package-lock.json
  package.json
  src/core/tests/helpers/writeFile.test.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: added `AGENTS.md` file icon (#3437)
  biome.jsonc
  icons/agent.svg
  package-lock.json
  package.json
  src/core/icons/fileIcons.ts
  src/core/tests/helpers/writeFile.test.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: remove 'brs' from file icon list (Closes #3554)
  .lintstagedrc
  .lintstagedrc.js
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icons): add subatom icon
  .gitignore
  icons/folder-subatom.svg
  icons/subatom.svg
  package-lock.json
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(fileIcons): add .env.preprod to tune icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(fileIcons): add .env.preprod to tune icon (#3558)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add icons for Subatom framework
  icons/folder-subatom.svg
  icons/subatom.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add .forge folder icon for ForgeKit projects
  icons/folder-forge.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update subatom icons with revised designs
  icons/folder-subatom.svg
  icons/subatom.svg
Due: bun run check, bun run check-colors

fix(icons): rebuild keras icon on 16x16 viewBox for pixel-perfect render
  icons/keras.svg
Due: bun run check, bun run check-colors

feat: add devprune icon
  icons/devprune.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: associate .xcode-version with swift icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: associate .xcode-version with swift icon (#3568)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add deepEqual utility and update change detection
  biome.jsonc
  package-lock.json
  package.json
  src/extension/tools/changeDetection.ts
  src/extension/tools/utils/deepEqual.test.ts
  src/extension/tools/utils/deepEqual.ts
Due: bun run lint

fix: resolve TypeScript indexing error in deepEqual
  src/extension/tools/utils/deepEqual.ts
Due: bun run lint

fix: add build step to release workflow in npm publishing part
  .github/workflows/release.yml
Due: none

Add message without s to folder-messages
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  markdownlint: any of: *.md
