Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["bun run markdownlint"]
}

refactor: recolor the `hooks` folder icon with its previous colors
  icons/folder-hook-open.svg
  icons/folder-hook.svg
Due: bun run check, bun run check-colors

feat: add icon for attachments folder
  icons/folder-attachment-open.svg
  icons/folder-attachment.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: associate archive folder to a new icon (#2989)
  icons/folder-archive-open.svg
  icons/folder-archive.svg
  icons/folder-backup-open.svg
  icons/folder-backup.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for hadolint configuration files (#2984)
  CONTRIBUTING.md
  icons/hadolint.svg
  src/core/icons/fileIcons.ts
  src/core/models/icons/patterns/patterns.ts
  src/core/patterns/patterns.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

feat: add icon for attachments folder (#2988)
  icons/folder-attachment-open.svg
  icons/folder-attachment.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: recreate different icons for hooks and triggers folders (#2985)
  icons/folder-hook-open.svg
  icons/folder-hook.svg
  icons/folder-trigger-open.svg
  icons/folder-trigger.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icons): add Excalidraw icon
  .DS_Store
  icons/excalidraw.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fixed color
  icons/excalidraw.svg
Due: bun run check, bun run check-colors

fixed excalidraw fileExtensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

removed trailing comma
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

changed extensions to fileNames
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

switched back to file extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Remove .DS_Store from the repository
  .DS_Store
Due: none

Add .DS_Store to .gitignore
  .gitignore
Due: none

Update .gitignore
  .gitignore
Due: none

refactor: rename vector files for icons preview
  icons/bibliography.svg
  icons/bibtex-style.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icons for `*.bib` files and BibTeX language IDs
  icons/bookshelf-paint-can.svg
  icons/bookshelf.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: improve shapes of `bibliography` and `bibtex-style` icons
  icons/bibliography.svg
  icons/bibtex-style.svg
Due: bun run check, bun run check-colors

feat: associate `*.bst` files to the `bibtex-style` icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add icon for links folder
  icons/folder-anchor-open.svg
  icons/folder-anchor.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: reposition the motive and change the icon colors
  icons/folder-link-open.svg
  icons/folder-link.svg
Due: bun run check, bun run check-colors

refactor: rename vector files for icons preview
  icons/folder-link-open.svg
  icons/folder-link.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icons for BibLaTeX file extensions
  icons/bbx.svg
  icons/cbx.svg
  icons/lbx.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: improve shapes and colors of BibLaTeX icons
  icons/bbx.svg
  icons/cbx.svg
  icons/lbx.svg
Due: bun run check, bun run check-colors

feat: add icon for bibliographies folder
  icons/folder-bibliography-open.svg
  icons/folder-bibliography.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: associate LaTeX files with a new icon and different colors
  icons/tex.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: implement dotfile pattern
  CONTRIBUTING.md
  src/core/models/icons/patterns/patterns.ts
  src/core/patterns/patterns.ts
Due: bun run lint, bun run test, bun run markdownlint

feat: add icon for latexmk configuration files
  icons/latexmk.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update colors
  icons/folder-link-open.svg
  icons/folder-link.svg
Due: bun run check, bun run check-colors

feat: add icon for links folder (#2987)
  icons/folder-link-open.svg
  icons/folder-link.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Simplify icon and update filenames list
  icons/excalidraw.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icons): add Excalidraw icon (#2995)
  icons/excalidraw.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add new icons for TeX/LaTeX related files (#2997)
  CONTRIBUTING.md
  icons/latexmk.svg
  icons/tex.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
  src/core/models/icons/patterns/patterns.ts
  src/core/patterns/patterns.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

feat: add icons for `*.bib` files and BibTeX language IDs (#2986)
  icons/bbx.svg
  icons/bibliography.svg
  icons/bibtex-style.svg
  icons/cbx.svg
  icons/folder-bibliography-open.svg
  icons/folder-bibliography.svg
  icons/lbx.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: update changelog (replace emails with usernames)
  CHANGELOG.md
Due: bun run markdownlint

fix: update username in changelog
  CHANGELOG.md
Due: bun run markdownlint

feat: add icon for .cpn files (colored petri nets)
  icons/coloredpetrinets.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for .cpn files
  icons/coloredpetrinets.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for .cpn files
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: Icon "*.cls" Apex Salesforce not found
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test
