Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

docs: 📝 fixed newline in schema and improved formatting (#2817)
  CONTRIBUTING.md
Due: bun run markdownlint

update workflows
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Due: none

update angular icon
  icons/angular.svg
Due: bun run check, bun run check-colors

refactor(ci): ♻️ use reusable workflows (#2811)
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Due: none

refactor(ci): remove potential duplicate workflow
  .github/workflows/potential-duplicates.yml
Due: none

chore: add security policy
  SECURITY.md
Due: bun run markdownlint

chore: add security policy (#2819)
  SECURITY.md
Due: bun run markdownlint

refactor(ci): use `material-extensions/add-labels` action (#2810)
  .github/scripts/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
Due: none

fix: fix pr-closed.yml
  .github/workflows/pr-closed.yml
Due: none

fix(ci): fix pr-closed.yml (#2821)
  .github/workflows/pr-closed.yml
Due: none

feat: add repository folder icons (#2813)
  icons/folder-repository-open.svg
  icons/folder-repository.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update rust folder icons
  icons/folder-rust-open.svg
  icons/folder-rust.svg
Due: bun run check, bun run check-colors

feat: add Rust folder icons (#2805)
  icons/folder-rust-open.svg
  icons/folder-rust.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

materialize icon
  icons/contentlayer.svg
Due: bun run check, bun run check-colors

fix icon review workflow
  .github/workflows/icon-review.yml
Due: none

Revert "fix icon review workflow"
  .github/workflows/icon-review.yml
Due: none

use filename patterns
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add contentlayer icon (#2407)
  icons/contentlayer.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(ci): 🚑 use `pull_request_target` instead of `pull_request`
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Due: none

fix pr title triggers
  .github/workflows/pr-title.yml
Due: none

feat: ✨ Customize workspace folder icons (#2807)
  .lintstagedrc
  CONTRIBUTING.md
  README.md
  package.json
  package.nls.json
  src/core/generator/applyConfigToIcons.ts
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/clones/utils/cloneData.ts
  src/core/generator/clones/utils/cloning.ts
  src/core/generator/clones/utils/color/colors.ts
  src/core/generator/config/defaultConfig.ts
  src/core/generator/folderGenerator.ts
  src/core/generator/iconOpacity.ts
  src/core/helpers/configHash.ts
  src/core/helpers/resolvePath.ts
  src/core/icons/folderIcons.ts
  src/core/index.ts
  src/core/models/icons/config.ts
  src/core/models/icons/folders/folderIcon.ts
  src/core/models/manifest.ts
  src/core/tests/helpers/object.test.ts
  src/core/tests/icons/cloning.test.ts
  src/core/tests/icons/folderIcons.test.ts
  src/extension/commands/folderColor.ts
  src/extension/commands/rootFolderColor.ts
  src/extension/tools/registered.ts
  src/scripts/icons/checks/checkIconConflicts.ts
  src/scripts/icons/generateJson.ts
Due: bun run lint, bun run test, bun run markdownlint

feat: ✨ `websites` folder icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add `websites` folder icon (#2825)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add scons icons
  icons/folder-scons-open.svg
  icons/folder-scons.svg
  icons/scons.svg
  icons/scons_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: update unity icon
  icons/folder-unity-open.svg
  icons/folder-unity-open_light.svg
  icons/folder-unity.svg
  icons/folder-unity_light.svg
  icons/shaderlab.svg
  icons/unity.svg
  icons/unity_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix triggers
  .github/workflows/pr-title.yml
Due: none

chore(ci): fix failing pipelines
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Due: none

feat(ci): 🔖 add labels to PRs and use reusable workflows
  .github/workflows/add-labels.yml
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Due: none

fix: 🛡️ fix security backdoors.
  .github/workflows/add-labels.yml
Due: none

chore: ✨ use emojis in icon request template for better recognition
  .github/ISSUE_TEMPLATE/1-icon-request.yml
Due: none

revert fix
  .github/workflows/icon-review.yml
Due: none

feat: add `kits` folder name for `tools` folder icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add icon for temporary files (`.tmp`, `.temp`)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add mail icon for `.eml` and `.msg` files
  icons/mail.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore(ci): 🔧 remove unnecessary permissions in PR closed workflow
  .github/workflows/pr-closed.yml
Due: none

fix(ci): fix icon review pipeline
  .github/workflows/icon-review.yml
Due: none

feat: expand the list of file extensions for the `email` icon
  icons/mail.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: ✨ use emojis in icon request template for better recognition (#2830)
  .github/ISSUE_TEMPLATE/1-icon-request.yml
Due: none

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: *.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  bun run markdownlint: any of: *.md
