Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

feat: update JS and CSS icons to be more pixel perfect (#2895)
  icons/css-map.svg
  icons/javascript-map.svg
  icons/javascript.svg
Due: bun run check, bun run check-colors

feat: update database file extensions (#2899)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: .taskrc.yml files
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: update prettier icon
  icons/prettier.svg
Due: bun run check, bun run check-colors

feat: .taskrc.yml files (#2903)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Shift prettier icon colors 1-2 shades darker
  icons/prettier.svg
Due: bun run check, bun run check-colors

feat: update prettier icon (#2904)
  icons/prettier.svg
Due: bun run check, bun run check-colors

Remove patch
  .github/workflows/release.yml
  package.json
  patches/changelogen@0.5.7.patch
Due: none

feat: add routing icon support for `*.route.ts` and `*.route.tsx`
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Give more apple related folders the apple folder icon in folderIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Update folderIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: apple related associations for the apple folder icon (#2918)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Add navigation folder icon
  icons/folder-navigation-open.svg
  icons/folder-navigation.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icon for firestore
  icons/folder-firestore-open.svg
  icons/folder-firestore.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icon for cloud-functions
  icons/folder-cloud-functions-open.svg
  icons/folder-cloud-functions.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

add firebase-firestore
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: ✨ enhance cloning so two-color icons adhere to same-palette rule
  src/core/generator/clones/utils/color/colors.ts
Due: bun run lint, bun run test

Update fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: ✨ enhance cloning so two-color icons adhere to same-palette rule (#2932)
  src/core/generator/clones/utils/color/colors.ts
Due: bun run lint, bun run test

added folder icons for kusto
  icons/folder-kusto-open.svg
  icons/folder-kusto.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: ✨ add additional folder names for folder-routes
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add navigation folder icon (#2927)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add routing icon support for `*.route.ts` and `*.route.tsx` (#2917)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Stick to old icon until a more consistent way is found to make all icons of that type consistently working with the 16x16 grid.
  src/core/generator/fileGenerator.ts
Due: bun run lint, bun run test

feat: generate icons as 16×16 (#2837)
  src/core/generator/fileGenerator.ts
  src/core/generator/folderGenerator.ts
  src/core/generator/shared/svg.ts
Due: bun run lint, bun run test

Update firestore icon
  icons/folder-firestore-open.svg
  icons/folder-firestore.svg
Due: bun run check, bun run check-colors

Update cloud functions icon
  icons/folder-cloud-functions-open.svg
  icons/folder-cloud-functions.svg
Due: bun run check, bun run check-colors

Update to new Firebase branding
  icons/folder-firebase-open.svg
  icons/folder-firebase.svg
Due: bun run check, bun run check-colors

Update icons
  icons/firebase.svg
  icons/folder-cloud-functions-open.svg
  icons/folder-cloud-functions.svg
  icons/folder-firebase-open.svg
  icons/folder-firebase.svg
  icons/folder-firestore-open.svg
  icons/folder-firestore.svg
Due: bun run check, bun run check-colors

Monochrome icon
  icons/firebase.svg
Due: bun run check, bun run check-colors

Thicker firebase icon
  icons/firebase.svg
Due: bun run check, bun run check-colors

Add file icon for adobe illustrator
  icons/adobe-illustrator.svg
  icons/adobe-illustrator_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Add file icon for photoshop
  icons/adobe-photoshop.svg
  icons/adobe-photoshop_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icons for firestore & cloud-functions (#2924)
  icons/firebase.svg
  icons/folder-cloud-functions-open.svg
  icons/folder-cloud-functions.svg
  icons/folder-firebase-open.svg
  icons/folder-firebase.svg
  icons/folder-firestore-open.svg
  icons/folder-firestore.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

alignment changes
  icons/folder-kusto-open.svg
  icons/folder-kusto.svg
Due: bun run check, bun run check-colors

feat: add file icon for photoshop (#2940)
  icons/adobe-photoshop.svg
  icons/adobe-photoshop_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: *.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  bun run markdownlint: any of: *.md
