Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

feat: update lock file
  bun.lock
Due: none

chore: trigger build if lock files changes
  .github/workflows/build.yml
Due: none

Update github copilot instructions config
  .vscode/settings.json
Due: none

feat: update copilot icon filenames (#3105)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: format folder-interceptor entry in folderIcons for consistency
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(docs): remove unnecessary line break
  README.md
Due: markdownlint

refactor(folderIcons): interceptor width & position
  icons/folder-interceptor.svg
Due: bun run check, bun run check-colors

refactor(folderIcons): interceptor width & position
  icons/folder-interceptor-open.svg
  icons/folder-interceptor.svg
Due: bun run check, bun run check-colors

feat: add vanilla extract icon
  icons/vanilla-extract.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add file icon for W++ (.wpp)
  icons/wplusplus.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

add trpc folder icons
  icons/folder-trpc-open.svg
  icons/folder-trpc.svg
Due: bun run check, bun run check-colors

converto to normal svg from inkscape svg
  icons/vanilla-extract.svg
Due: bun run check, bun run check-colors

add extension .css.(js|cjs|mjs|jsx|ts|tsx)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix icons
  icons/folder-trp.svg
  icons/folder-trpc-open.svg
Due: bun run check, bun run check-colors

Delete icons/folder-trpc.svg
  icons/folder-trpc.svg
Due: bun run check, bun run check-colors

Rename folder-trp.svg to folder-trpc.svg
  icons/folder-trp.svg
  icons/folder-trpc.svg
Due: bun run check, bun run check-colors

Dev and prod for drizzlekit
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Removing duplicate line
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: Dev and prod for drizzle config (#3118)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add vanilla extract icon (#3113)
  icons/vanilla-extract.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add updated file icon for W++
  icons/wplusplus.svg
Due: bun run check, bun run check-colors

refactor(folderIcons): update SVG structure and colors for folder interceptor icons
  icons/folder-interceptor-open.svg
  icons/folder-interceptor.svg
Due: bun run check, bun run check-colors

feat: add new icons Claude/Anthropic for Claude memory folder
  icons/claude.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add 'colour' and 'colours' to folder icons
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(folderIcons): add angular interceptor icon (#3106)
  icons/folder-interceptor-open.svg
  icons/folder-interceptor.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icons for tRPC
  icons/folder-trpc-open.svg
  icons/folder-trpc.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add new icon for shadcn `components.json`
  icons/components.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Simplify lines and make dark mode better
  icons/components.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix dark mode
  icons/components.svg
  icons/components_light.svg
Due: bun run check, bun run check-colors

chore: update dependencies and devDependencies
  biome.jsonc
  bun.lock
  package-lock.json
  package.json
Due: none

feat: add new icons for .claude folder
  icons/folder-claude-open.svg
  icons/folder-claude.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

margin adjustment
  icons/claude.svg
  icons/folder-claude-open.svg
  icons/folder-claude.svg
Due: bun run check, bun run check-colors

feat: add discord.py icons for cog folders
  icons/folder-cogs-open.svg
  icons/folder-cogs.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

change the color
  icons/folder-claude-open.svg
  icons/folder-claude.svg
Due: bun run check, bun run check-colors

feat: add new icons Claude Code (#3134)
  icons/claude.svg
  icons/folder-claude-open.svg
  icons/folder-claude.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icons): add toc icon
  icons/toc.svg
Due: bun run check, bun run check-colors

feat(icons): convert paths to nodes in toc icon for precise alignment
  icons/toc.svg
Due: bun run check, bun run check-colors

feat(icons): folder versions for toc icon
  icons/folder-toc-open.svg
  icons/folder-toc.svg
Due: bun run check, bun run check-colors
