Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

fix: allow unsafe PR checkout in icon review workflow
  .github/workflows/icon-review.yml
Due: none

feat: add the Nextflow icon asset for .nf files (#3611)
  icons/nextflow.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

ci: retrigger icon review after upstream workflow fix
  icons/zod.svg
Due: bun run check, bun run check-colors

Apply suggestion from @IEvangelist
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add folder icons for evaluation
  icons/folder-evaluation.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: adjust evaluation folder icon placement
  icons/folder-evaluation.svg
Due: bun run check, bun run check-colors

feat: add docusaurus icon
  icons/docusaurus.svg
  icons/folder-docusaurus.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add `.tosd` extension to `toml` scope
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add `.tosd` extension to `toml` scope (#3618)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test
