Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["bun run markdownlint"]
}

feat: add .qa-mincloudrc icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add .qa-mincloudrc icon (#3070)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

chore: update contributor names in changelog with GitHub links
  CHANGELOG.md
Due: bun run markdownlint

fix: update markdown linting command in .lintstagedrc
  .lintstagedrc
Due: none

feat: associate `folder-test` icon with `testfiles` folder
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: associate `folder-test` icon with `testfiles` folder (#3072)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix: 🚑 wrong biome json schema in `biome.jsonc`
  biome.jsonc
Due: none

feat: ✨ atomic design methodology folder icons
  icons/folder-atom-open.svg
  icons/folder-atom.svg
  icons/folder-molecule-open.svg
  icons/folder-molecule.svg
  icons/folder-organism-open.svg
  icons/folder-organism.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: 🚑 wrong biome json schema in `biome.jsonc` (#3074)
  biome.jsonc
Due: none

feat: ✨ atomic design methodology folder icons (#3075)
  icons/folder-atom-open.svg
  icons/folder-atom.svg
  icons/folder-molecule-open.svg
  icons/folder-molecule.svg
  icons/folder-organism-open.svg
  icons/folder-organism.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: ✨ editorconfig icon
  icons/editorconfig.svg
Due: bun run check, bun run check-colors

feat: add helm language icon association
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

feat: add helm language icon association (#3081)
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

chore: update JSON schema version to 2.1.2 in `biome.jsonc`
  biome.jsonc
Due: none

feat: add post-upgrade tasks for @biomejs/biome in renovate configuration
  renovate.json
Due: none

feat: update README.md with new badge git ststyles and sponsorship links
  CONTRIBUTING.md
  README.md
  src/module/README.md
Due: bun run markdownlint

Update background color of preview images
  images/fileIcons.png
  images/folderIcons.png
  src/scripts/preview/style.css
Due: none

feat: add GitHub star badge to README.md
  README.md
  src/module/README.md
Due: bun run markdownlint

fix: streamline sponsor and star badge links in README.md
  README.md
Due: bun run markdownlint

fix: simplify sponsor and star badge links in README.md
  README.md
  src/module/README.md
Due: bun run markdownlint

feat: support Raku
  icons/raku.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(fileIcons): add binary and engine-specific DB extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(fileIcons): add binary and engine-specific DB extensions (#3086)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: update README.md with new NPM and build status badges
  README.md
  src/module/README.md
Due: bun run markdownlint

feat: added oxlintrc icon
  icons/oxlint.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: update README.md to include rating and downloads badges
  README.md
  src/module/README.md
Due: bun run markdownlint

Update README.md
  README.md
Due: bun run markdownlint

Update README.md
  src/module/README.md
Due: bun run markdownlint

feat: make icon more material design like and fit it into 16x16 grid
  icons/oxlint.svg
Due: bun run check, bun run check-colors

fix: update background color in package.json and style.css
  package.json
  src/scripts/preview/style.css
Due: none

feat: added oxlintrc icon (#3088)
  icons/oxlint.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: update readme with additional details
  CONTRIBUTING.md
  README.md
  images/fileIcons.png
  images/folderIcons.png
  package.json
  src/module/README.md
  src/scripts/preview/style.css
Due: bun run markdownlint

feat(fileIcons): add .env.sentry-build-plugin to sentry icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(fileIcons): add .env.sentry-build-plugin to sentry icon (#3090)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Refactor code structure for improved readability and maintainability
  biome.jsonc
  package-lock.json
Due: none

chore(deps): update changelogen to v0.6.2
  package.json
Due: none

Update fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(folderIcons): add angular interceptor icon
  icons/folder-interceptor-open.svg
  icons/folder-interceptor.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: update copilot icon filenames
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test
