Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

chore: remove puppeteer types
  bun.lock
  package.json
Due: none

feat(icon): add `opencode` folder icon
  icons/folder-ocode.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: dark bg folder
  icons/folder-ocode.svg
  icons/folder-ocode_light.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: folder bg
  icons/folder-ocode_light.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: refine codex icon
  icons/codex.svg
  icons/folder-collectors.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: avoid false positive in open folder filter for names containing 'open'
  src/scripts/svg/generateOpenFolderIcons.ts
Due: bun run lint

feat: update icon
  icons/folder-ocode.svg
  icons/folder-opencode.svg
  icons/opencode.svg
  icons/opencode_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add collectors folder icon
  icons/folder-collectors-open.svg
  icons/folder-collectors.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: follow new folder icon structure
  icons/folder-collectors-open.svg
  icons/folder-collectors.svg
Due: bun run check, bun run check-colors

fix: adjust collectors folder icon width
  icons/folder-collectors-open.svg
  icons/folder-collectors.svg
Due: bun run check, bun run check-colors

fix: adjust collectors folder icon width icon to the right 1 pixel
  icons/folder-collectors-open.svg
  icons/folder-collectors.svg
Due: bun run check, bun run check-colors

feat: support collector folder name
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add codex icons
  icons/codex.svg
  icons/folder-codex.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add opencode folder icon (#3492)
  bun.lock
  icons/folder-opencode.svg
  icons/opencode.svg
  icons/opencode_light.svg
  package.json
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add check to disallow dot-prefixed folder names
  src/core/icons/folderIcons.ts
  src/core/models/icons/folders/folderIcon.ts
  src/scripts/icons/checks/checkFolderIconStructure.ts
  src/scripts/icons/checks/checkFolderNameDots.test.ts
  src/scripts/icons/checks/checkFolderNameDots.ts
  src/scripts/icons/checks/run.ts
Due: bun run lint, bun run test

fix: address codex folder icon feedback
  icons/codex.svg
  icons/folder-codex.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: align codex folder underline to grid
  icons/folder-codex.svg
Due: bun run check, bun run check-colors

feat: add `.vscode-test` config file icon mapping
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix(ci): release script failure due to husky
  package.json
Due: none

fix: cloning issue (Closes #3502)
  biome.jsonc
  bun.lock
  package-lock.json
  package.json
  src/core/generator/clones/utils/cloning.ts
  src/core/generator/clones/utils/color/colors.ts
  src/core/helpers/resolvePath.ts
  src/core/helpers/svg.ts
  src/core/helpers/svgColor.ts
  src/core/index.ts
  src/core/logging/logger.ts
  src/core/tests/helpers/svg.test.ts
  src/core/tests/icons/cloning.test.ts
  src/extension/logging/logger.ts
  src/extension/tools/changeDetection.ts
  src/scripts/icons/cleanIcons.ts
Due: bun run lint, bun run test

fix(ci): add contents read permission to publish-npm job
  .github/workflows/release.yml
Due: none

chore(ci): remove pr closed workflow
  .github/workflows/pr-closed.yml
Due: none

feat: add folder icon for profile directories
  icons/folder-profile.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: correct supabase folder icon design
  icons/folder-supabase.svg
Due: bun run check, bun run check-colors

feat(icon): add dbt-bouncer icon
  icons/dbt-bouncer.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: resolves error with merge conflict (Closes #3502)
  src/extension/shared/config.ts
Due: bun run lint

fix(ci): update version of svg-icon-review
  .github/workflows/icon-review.yml
Due: none

removed xml declaration
  icons/agent.svg
Due: bun run check, bun run check-colors

fix: correct supabase folder icon design (#3516)
  icons/folder-supabase.svg
Due: bun run check, bun run check-colors

Adding YAML file support
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add ocx icon
  icons/ocx.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add cronjob's folder icon
  icons/folder-cronjobs.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: add custom manager for biome versions in renovate config
  renovate.json
Due: none

chore: fix formatting of renovate.json
  renovate.json
Due: none

chore: update renovate.json
  renovate.json
Due: none

feat: add nika file and folder icons
  icons/folder-nika.svg
  icons/nika.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: use the official nika butterfly mark
  icons/folder-nika.svg
  icons/nika.svg
Due: bun run check, bun run check-colors

feat: let the butterfly land on the folder
  icons/folder-nika.svg
Due: bun run check, bun run check-colors
