Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

refactor: make use of clones for redux folder icons (#2777)
  icons/folder-redux-actions-open.svg
  icons/folder-redux-actions.svg
  icons/folder-redux-selector-open.svg
  icons/folder-redux-selector.svg
  icons/folder-redux-store-open.svg
  icons/folder-redux-store.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: make use of clones for ngrx folder icons (#2778)
  icons/folder-ngrx-actions-open.svg
  icons/folder-ngrx-actions.svg
  icons/folder-ngrx-effects-open.svg
  icons/folder-ngrx-effects.svg
  icons/folder-ngrx-entities-open.svg
  icons/folder-ngrx-entities.svg
  icons/folder-ngrx-reducer-open.svg
  icons/folder-ngrx-reducer.svg
  icons/folder-ngrx-selectors-open.svg
  icons/folder-ngrx-selectors.svg
  icons/folder-ngrx-state-open.svg
  icons/folder-ngrx-state.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update logo according to changed folder icon
  logo.png
  logo.svg
Due: none

chore: update logo according to changed folder icon (#2782)
  logo.png
  logo.svg
Due: none

Refactor code
  src/core/generator/clones/clonesGenerator.ts
  src/core/models/icons/config.ts
Due: bun run lint, bun run test

Refactor code
  src/core/generator/clones/clonesGenerator.ts
Due: bun run lint, bun run test

Fix variable name
  src/core/generator/clones/utils/cloneData.ts
Due: bun run lint, bun run test

Add type safety for light mode in mappings
  src/core/models/icons/files/fileIcon.ts
  src/core/models/icons/folders/folderIcon.ts
  src/core/models/icons/languages/languageIdentifier.ts
  src/core/models/icons/lightSettings.ts
  src/core/tests/icons/fileIcons.test.ts
Due: bun run lint, bun run test

feat: add new icons for storage folder
  icons/folder-storage-open.svg
  icons/folder-storage.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update description
  README.md
  images/how-tos/cloned-language-icons-example.png
Due: bun run markdownlint

feat: add beancount icon
  icons/beancount.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(ci): 🔖 add appropriate labels to PRs with failed checks
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

Update .github/workflows/color-check.yml
  .github/workflows/color-check.yml
Due: none

Update .github/workflows/build.yml
  .github/workflows/build.yml
Due: none

Update .github/workflows/pr-title.yml
  .github/workflows/pr-title.yml
Due: none

feat: make reusable labeler script
  .github/actions/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

feat(ci): ✨ improve labeler script
  .github/actions/update-status-label.sh
Due: none

chore: fix comments in labeler script
  .github/actions/update-status-label.sh
Due: none

add logging
  .github/actions/update-status-label.sh
Due: none

improve labels
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

feat(ci): 🔖 add appropriate labels to PRs with failed checks (#2785)
  .github/actions/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

chore(ci): 🔖 use new label format
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

fix(ci): 🚑 fix labeler script location
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

fix(ci): 🚑 fix PR title checker
  .github/workflows/pr-title.yml
Due: none

debug
  .github/workflows/pr-title.yml
Due: none

fix: fix labeler script location
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

feat(workflows): :construction_worker: detect potential duplicates in issues
  .github/workflows/potential-duplicates.yml
Due: none

make script executable
  .github/actions/update-status-label.sh
Due: none

fix triggers
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

fix workflow permissions
  .github/workflows/pr-title.yml
Due: none

remove debug step
  .github/workflows/pr-title.yml
Due: none

/
  .github/workflows/potential-duplicates.yml
Due: none

chore(ci): 🔖 use new label format (#2786)
  .github/actions/update-status-label.sh
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

fix: run labeler script in build workflow only in PR
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

change emojis
  .github/workflows/potential-duplicates.yml
Due: none

feat(workflows): :construction_worker: detect potential duplicates in issues (#2787)
  .github/workflows/potential-duplicates.yml
Due: none

Merge branch 'main' of https://github.com/material-extensions/vscode-material-icon-theme into run-labeler-in-build-workflow-only-in-pr
  .github/workflows/close-stale-issues.yml
  .github/workflows/potential-duplicates.yml
Due: none

fix: run labeler script in build workflow only in PR (#2788)
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/pr-title.yml
Due: none

ci: ♻️ Use a limited range of files for checkout
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/pr-title.yml
Due: none

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  bun run test: any of: *.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  bun run markdownlint: any of: *.md
