Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

fix: add missing `message` without `s` to `folder-messages` (#3569)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix: update Rstack icon
  icons/rstack.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for aube
  icons/aube.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add Rstack config file association
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add Rstack config file association (#3574)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: commonjs & esm test snap icons
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: additional tsconfig file names
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: commonjs & esm test snap icons (#3576)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add NXD language icon
  icons/nxd.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: update cnb icon colors to match guidelines
  icons/cnb.svg
  icons/folder-cnb.svg
Due: bun run check, bun run check-colors

feat: add cnb file icon
  icons/cnb.svg
  icons/folder-cnb.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add docusaurus icon
  icons/docusaurus.svg
  icons/folder-docusaurus.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add weapp-vite icon
  icons/folder-weapp-vite.svg
  icons/weapp-vite.svg
  material-colors.yml
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Add all supported file extensions for prisma.config
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add zod icon
  icons/zod.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for .box files
  icons/box.svg
  package-lock.json
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icons): add Cython extensions icon
  icons/cython.svg
Due: bun run check, bun run check-colors

feat: add Cython extensions to `fileIcons.ts`
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: publish complete immutable icon snapshots
  .gitignore
  src/architecture.md
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/generateIconSnapshot.ts
  src/core/helpers/configHash.ts
  src/core/helpers/resolvePath.ts
  src/core/index.ts
  src/core/tests/helpers/configHash.test.ts
  src/core/tests/icons/iconSnapshot.test.ts
  src/core/tests/icons/iconSnapshot.worker.ts
  src/extension/desktop/extension.ts
  src/extension/tools/changeDetection.test.ts
  src/extension/tools/changeDetection.ts
  src/scripts/icons/cleanIcons.ts
Due: bun run lint, bun run test, markdownlint

chore(deps): update @biomejs/biome to v2.5.14 and refactor renovate.json formatting
  package.json
  renovate.json
Due: none

chore(deps): update @biomejs/biome to v2.5.14 and adjust related dependencies
  package-lock.json
Due: none

chore(deps): update puppeteer to v25.11.0
  package.json
Due: none

chore(deps): refactor renovate.json formatting for consistency
  renovate.json
Due: none

Use pattern system
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: Add all supported file extensions for prisma.config (#3586)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: deduplicate generated icons by SVG content
  src/architecture.md
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/generateIconSnapshot.ts
  src/core/generator/iconContentStore.ts
  src/core/tests/icons/iconContentStore.test.ts
  src/core/tests/icons/iconSnapshot.test.ts
  src/core/tests/icons/iconSnapshot.worker.ts
Due: bun run lint, bun run test, markdownlint

Add files via upload
  icons/cangjie.svg
Due: bun run check, bun run check-colors

Update fileIcons.ts with cangjie entry
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

added zizmor file icon
  icons/zizmor.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

updated colours to material spec
  icons/zizmor.svg
Due: bun run check, bun run check-colors

formatting
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

corrected file config to `fileNames`
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: Add kadence folder icon
  icons/folder-kadence.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add Anthropic and OpenAI folder icons
  icons/folder-anthropic.svg
  icons/folder-openai.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: add `prisma7.config` support (related #3586)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: update package versions and add overrides for markdownlint-cli
  package-lock.json
  package.json
Due: none

chore(deps): add js-yaml v5.4.2 to package-lock.json
  package-lock.json
Due: none

corrected nextflow icon as groovy error
  icons/nextflow.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: update to grid
  icons/nextflow.svg
Due: bun run check, bun run check-colors

fix: allow unsafe PR checkout in icon review workflow
  .github/workflows/icon-review.yml
Due: none
