Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

fix(shape): correct grid guide
  icons/folder-form-open.svg
  icons/folder-form.svg
Due: bun run check, bun run check-colors

feat(icon): replace .toon_light icon with .toon icon and update fileIcons (#3365)
  icons/toon.svg
  icons/toon_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: Add the `proxy` folder name setting (#3355)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(tasks): change task type from 'bun' to 'shell' for build and test commands
  .vscode/tasks.json
Due: none

fix(position): adjust motive position
  icons/folder-form-open.svg
  icons/folder-form-open_light.svg
  icons/folder-form_light.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for .toon files (#3365)
  icons/toon.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Add files via upload
  aura.svg
Due: none

Add support for aura file icons
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add Aura file icon support
  icons/aura.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

style: update Aura icon with high-quality version
  icons/aura.svg
Due: bun run check, bun run check-colors

feat: add folder and file for skills ai
  icons/folder-skills-open.svg
  icons/folder-skills.svg
  icons/skill.svg
  icons/skill_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add skill name file
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: fix by biome
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(folder-form): shape and color
  icons/folder-form-open.svg
  icons/folder-form-open_light.svg
  icons/folder-form.svg
  icons/folder-form_light.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add form-folder icon (#3352)
  icons/folder-form-open.svg
  icons/folder-form.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Delete src/core/icons/fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: support icons for hidden biome config files
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add Kubernetes icon for files
  icons/kubernetes-manifest.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: update viewBox attribute in Kubernetes manifest icon
  icons/kubernetes-manifest.svg
Due: bun run check, bun run check-colors

Update src/core/icons/fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icon): tags file icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add `tags` file icon (#3375)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

initial postman folder icons
  icons/folder-postman-open.svg
  icons/folder-postman.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

updated postman icon
  icons/folder-postman-open.svg
  icons/folder-postman.svg
Due: bun run check, bun run check-colors

fix: add nuspec to nuget file extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: add nuspec to nuget file extensions (#3377)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add 'type' to folder-typescript
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(icon): add json_schema file icon
  icons/json_schema.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: re-add deleted entry by merge in fileIcons file
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: add wixproj to visualstudio file extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: add wixproj to visualstudio file extensions (#3383)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icon): add deprecated/scrap folder icon
  icons/folder-scrap-open.svg
  icons/folder-scrap.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Add folder-nginx.svg icon file
  icons/folder-nginx.svg
Due: bun run check, bun run check-colors

Add new SVG icon for open Nginx folder
  icons/folder-nginx-open.svg
Due: bun run check, bun run check-colors

Change grid stroke color to orange in SVG
  icons/folder-nginx.svg
Due: bun run check, bun run check-colors

Update grid stroke color in folder-nginx-open.svg
  icons/folder-nginx-open.svg
Due: bun run check, bun run check-colors

remove grid
  icons/folder-nginx-open.svg
  icons/folder-nginx.svg
Due: bun run check, bun run check-colors

Update folder-nginx.svg with new SVG paths
  icons/folder-nginx.svg
Due: bun run check, bun run check-colors

feat(icon): add R language folder icon
  icons/folder-r-open.svg
  icons/folder-r.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Apply suggestions from code review
  icons/folder-nginx-open.svg
  icons/folder-nginx.svg
Due: bun run check, bun run check-colors

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  markdownlint: any of: *.md
