Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

updated icon position
  icons/folder-postman-open.svg
  icons/folder-postman.svg
Due: bun run check, bun run check-colors

feat(icon): nginx folder icon (#3197)
  icons/folder-nginx-open.svg
  icons/folder-nginx.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add go-lang folder icon
  icons/folder-go-open.svg
  icons/folder-go.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add appwrite icons
  icons/appwrite.svg
  icons/folder-appwrite-open.svg
  icons/folder-appwrite.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): modify deprecated/scrap icons
  icons/folder-scrap-open.svg
  icons/folder-scrap.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Apply suggestions from code review
  icons/folder-r-open.svg
  icons/folder-r.svg
Due: bun run check, bun run check-colors

feat(icon): add R language folder icon (#3387)
  icons/folder-r-open.svg
  icons/folder-r.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Feature: added file & folder icons for Postgraphile;
  icons/folder-postgraphile-open.svg
  icons/folder-postgraphile.svg
  icons/postgraphile-js.svg
  icons/postgraphile.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Updated Postgraphile icons to use Material Design colors;
  icons/postgraphile-js.svg
  icons/postgraphile.svg
Due: bun run check, bun run check-colors

feat(icon): modify icon color
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(icon): modify json_schema icon
  icons/json_schema.svg
Due: bun run check, bun run check-colors

Add files via upload
  package.nls.ar.json
Due: none

feat: optimize json schema icon
  icons/json_schema.svg
Due: bun run check, bun run check-colors

feat(icon): add json_schema file icon (#3380)
  icons/json_schema.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): assembly file/folder icon
  icons/assembly.svg
  icons/folder-assembly-open.svg
  icons/folder-assembly.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add deprecated/scrap folder icon (#3384)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Add files via upload
  i18n/translate.ts
  i18n/translations/lang-ar.ts
  i18n/translations/lang-cs.ts
  i18n/translations/lang-de.ts
  i18n/translations/lang-en.ts
  i18n/translations/lang-es.ts
  i18n/translations/lang-fr.ts
  i18n/translations/lang-id.ts
  i18n/translations/lang-it.ts
  i18n/translations/lang-ja.ts
  i18n/translations/lang-ko.ts
  i18n/translations/lang-nl.ts
  i18n/translations/lang-pl.ts
  i18n/translations/lang-pt-br.ts
  i18n/translations/lang-pt-pt.ts
  i18n/translations/lang-ru.ts
  i18n/translations/lang-uk.ts
  i18n/translations/lang-zh-cn.ts
  i18n/translations/lang-zh-tw.ts
Due: bun run lint

Add files via upload
  src/core/i18n/translate.ts
  src/core/i18n/translations/lang-ar.ts
Due: bun run lint, bun run test

feat: add `oxfmt.config.ts` to icons
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add `oxfmt.config.ts` to icons (#3398)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Add files via upload
  src/core/i18n/translations/lang-ar.ts
Due: bun run lint, bun run test

Add files via upload
  src/core/i18n/translate.ts
Due: bun run lint, bun run test

Update Arabic localization for Material Icons
  package.nls.ar.json
Due: none

feat: add Bison and Flex file icons
  icons/bison.svg
  icons/flex.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Remove trailing newline in lang-ar.ts
  src/core/i18n/translations/lang-ar.ts
Due: bun run lint, bun run test

fix: remove extra blank line in translate.ts
  src/core/i18n/translate.ts
Due: bun run lint, bun run test

fix: convert CRLF to LF line endings in package.nls.ar.json
  package.nls.ar.json
Due: none

feat(i18n): add Arabic translation (#3401)
  package.nls.ar.json
  src/core/i18n/translate.ts
  src/core/i18n/translations/lang-ar.ts
Due: bun run lint, bun run test

feat: add additional env icon file names
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

refactor: skill icons
  icons/folder-skills-open.svg
  icons/folder-skills.svg
  icons/skill.svg
  icons/skill_light.svg
Due: bun run check, bun run check-colors

fix: wrong svg
  icons/folder-skills-open.svg
  icons/folder-skills.svg
Due: bun run check, bun run check-colors

feat: add language icon
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

fix: biome fix
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

feat: add MLIR file icon
  icons/mlir.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: Add LLVM and pdll, td file icons
  icons/llvm.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: Add light/dark variants of LLVM dragon logo
  icons/llvm.svg
  icons/llvm_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Adding aspire logo
  icons/aspire.svg
Due: bun run check, bun run check-colors

Add aspire icon association for apphost.cs and apphost.ts (#1)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test
