Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

feat: add icons for cuelang (#3211)
  icons/cue.svg
  icons/folder-cue-open.svg
  icons/folder-cue.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: improve `console` icon design
  icons/console.svg
Due: bun run check, bun run check-colors

fix: remove unused bg from vala icon
  icons/vala.svg
Due: bun run check, bun run check-colors

feat(icons): add chromatic icon
  icons/chromatic.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: update Vala icon SVG format and dimensions
  icons/vala.svg
Due: bun run check, bun run check-colors

fix: remove unused bg from vala icon (#3216)
  icons/vala.svg
Due: bun run check, bun run check-colors

feat: improve `console` icon design (#3215)
  icons/console.svg
Due: bun run check, bun run check-colors

Format code
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Design icons to be more pixel perfect
  icons/folder-input-open.svg
  icons/folder-input.svg
  icons/folder-simulations-open.svg
  icons/folder-simulations.svg
Due: bun run check, bun run check-colors

feat(icons): add chromatic icon (#3217)
  icons/chromatic.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(icons): correct light property for cue icon in fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add icon for ShellCheck rc files (#3210)
  icons/shellcheck.svg
  icons/shellcheck_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(icons): update contrast
  icons/folder-simulations-open.svg
  icons/folder-simulations.svg
Due: bun run check, bun run check-colors

feat: input folder icon and simulations folder icon (#3162)
  icons/folder-input-open.svg
  icons/folder-input.svg
  icons/folder-simulations-open.svg
  icons/folder-simulations.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for .allcontributorsrc
  icons/allcontributors.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(allcontributors.svg): made the star path color brighter to fit dark mode
  icons/allcontributors.svg
Due: bun run check, bun run check-colors

fix: update file icon entry for .all-contributorsrc
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icons): add ESLint folder icons and SVGs
  icons/folder-eslint-open.svg
  icons/folder-eslint.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icons): expand ESLint folder icon support to include related configurations
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: align icons to pixel perfect 16x16 grid
  icons/folder-eslint-open.svg
  icons/folder-eslint.svg
Due: bun run check, bun run check-colors

Crab only version
  icons/rstack.svg
Due: bun run check, bun run check-colors

Add '.config/prisma.ts' to prisma file names
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

created a configuration pattern
  src/core/icons/fileIcons.ts
  src/core/models/icons/patterns/patterns.ts
  src/core/patterns/patterns.ts
Due: bun run lint, bun run test

feat: eslint folder icons (#3223)
  icons/folder-eslint-open.svg
  icons/folder-eslint.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icons): add rstack icon
  icons/rstack.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: add patch for changelogen@0.6.2 to tag contributors in release notes (#3179)
  bun.lock
  package.json
  patches/changelogen@0.6.2.patch
Due: none

feat: add Rstack (Rspack/Rsbuild/Rslib/Rspress/Rstest/Rslint) icons (#3208)
  icons/rstack.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Added icon for "blog" folder
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: made the icon for `blog/` the same as `news/` (#3231)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Add 'jsonl' to languageIcons
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

feat: add icon for licenses folder
  icons/folder-certificate-open.svg
  icons/folder-certificate.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: Add 'jsonl' to languageIcons (#3232)
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

add lynx icon
  icons/lynx.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for licenses folder (#3233)
  icons/folder-certificate-open.svg
  icons/folder-certificate.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: update schema version to 2.3.0 in biome.jsonc
  biome.jsonc
Due: none

feat: add icon for lynx.js
  icons/lynx.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: apply `gemini-ai` icon to `GEMINI.md` file
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: apply `gemini-ai` icon to `GEMINI.md` file (#3237)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add lynx icon (#3234)
  icons/lynx.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add specific icons for license files
  icons/license.svg
  icons/unlicense.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors
