Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

Update VSCode Icon
  icons/vscode.svg
Due: bun run check, bun run check-colors

revert: 🔙 format changes in unrelated code
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Update vscode.svg
  icons/vscode.svg
Due: bun run check, bun run check-colors

feat: add additional common 3d file extensions (#3047)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: update vscode icon (#3049)
  icons/vscode.svg
Due: bun run check, bun run check-colors

Update fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

refactor: update Blender file icon for 16x16 grid and uniform color
  icons/blender.svg
Due: bun run check, bun run check-colors

refactor: update Blender folder icons for 16x16 grid and improved contrast
  icons/folder-blender-open.svg
  icons/folder-blender.svg
Due: bun run check, bun run check-colors

chore: optimize Blender icons with SVGO
  icons/blender.svg
  icons/folder-blender-open.svg
  icons/folder-blender.svg
Due: bun run check, bun run check-colors

feat: add Blender file and folder icons (#3046)
  icons/blender.svg
  icons/folder-blender-open.svg
  icons/folder-blender.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add Nocra file icons
  icons/nocra.svg
  icons/nocra_light.svg
Due: bun run check, bun run check-colors

Add TSDoc Icon
  icons/tsdoc.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update TSDoc Icon
  icons/tsdoc.svg
Due: bun run check, bun run check-colors

feat: Update fileIcons.ts (#3054)
  icons/tsdoc.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: Fixed invalid color on [nocra.svg]
  icons/nocra.svg
Due: bun run check, bun run check-colors

feat: add Nocra file icon
  icons/nocra.svg
Due: bun run check, bun run check-colors

feat: Update files
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Fix typo
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: enhance excalidraw file icon support with additional file names and extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

refactor: remove icons for `tex` and `ltx` file extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: enhance excalidraw file icon support with additional file names (#3064)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: correct phpstan icon file patterns (#3063)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

refactor: remove icons for `tex` and `ltx` file extensions (#3065)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Update folderIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Update src/core/icons/folderIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: Update fileicons.ts and folderIcons.ts (#3062)
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: associate `doctex-installer` icon with `.ins` file extension
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: associate `context` icon with `.ctx` file extension
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: associate `context` icon with `.ctx` file extension (#3068)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: associate `doctex-installer` icon with `.ins` file extension (#3067)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: update schema version and refine file inclusion/exclusion rules in biome configuration
  biome.jsonc
Due: none

Apply fixes for biome
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/generateManifest.ts
  src/core/generator/iconOpacity.ts
  src/core/generator/iconSaturation.ts
  src/core/index.ts
  src/core/tests/icons/cloning.test.ts
  src/core/tests/icons/fileIcons.test.ts
  src/core/tests/icons/folderIcons.test.ts
  src/core/tests/icons/languageIcons.test.ts
  src/extension/commands/explorerArrows.ts
  src/extension/commands/fileColor.ts
  src/extension/commands/folderColor.ts
  src/extension/commands/folders.ts
  src/extension/commands/grayscale.ts
  src/extension/commands/iconPacks.ts
  src/extension/logging/logger.ts
  src/extension/tools/changeDetection.ts
  src/module/index.ts
  src/scripts/icons/checks/checkIconAvailability.ts
  src/scripts/models/scripts/contributors/contributor.ts
Due: bun run lint, bun run test

refactor: clean up SVGO configuration and improve type definitions
  svgo.config.js
Due: bun run lint

fix: add '--disable-extensions' argument to launch configurations
  .vscode/launch.json
Due: none

Update readme
  README.md
Due: bun run markdownlint

Update colors
  icons/nocra.svg
  icons/nocra_light.svg
Due: bun run check, bun run check-colors

Use pattern instead of file names
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  bun run markdownlint: any of: *.md
