Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

refactor: rename `certificate` folder icons as `license` folder icons
  icons/folder-certificate-open.svg
  icons/folder-certificate.svg
  icons/folder-license-open.svg
  icons/folder-license.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat : add agents.md icon
  icons/agents.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add agents.md icon
  icons/agents.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add light and dark theme
  icons/agents.svg
  icons/agents_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add light and dark theme
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: reposition some nodes in license folder icons
  icons/folder-license-open.svg
  icons/folder-license.svg
Due: bun run check, bun run check-colors

feat: add warp.md icon with light and dark theme
  icons/warp.svg
  icons/warp_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: snap some nodes in license folder icons
  icons/folder-license-open.svg
  icons/folder-license.svg
Due: bun run check, bun run check-colors

refactor: improve `certificate` icon design
  icons/certificate.svg
Due: bun run check, bun run check-colors

feat: Image icon for KTX and KTX2 files
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: Image icon for KTX and KTX2 files (#3246)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: update warp and warp_light icons for better alignment with 16x16 grid
  icons/warp.svg
  icons/warp_light.svg
Due: bun run check, bun run check-colors

feat: add warp.md icon with light and dark theme (#3244)
  icons/warp.svg
  icons/warp_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

some changes
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

Update colors
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

change colors
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

align arrow horizontally
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

align a little bit
  icons/folder-migrations-open.svg
Due: bun run check, bun run check-colors

make the database element taller and also give the arrow more space to breath
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

wip
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

Folder migrations
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update invalid colors
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

improve alignment
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

[WIP] update folder
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

more changes
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

fix: merge fileIcons.ts
  icons/mcp.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: add missing file
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

refactor: improve `certificate` icon design (#3245)
  icons/certificate.svg
Due: bun run check, bun run check-colors

Add convex file and folder icons
  icons/convex.svg
  icons/folder-convex-open.svg
  icons/folder-convex-open_light.svg
  icons/folder-convex.svg
  icons/folder-convex_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Format
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Update folder icons
  icons/folder-convex-open.svg
  icons/folder-convex-open_light.svg
  icons/folder-convex.svg
  icons/folder-convex_light.svg
Due: bun run check, bun run check-colors

Adjust folder motive alignment
  icons/folder-convex-open.svg
  icons/folder-convex-open_light.svg
  icons/folder-convex.svg
  icons/folder-convex_light.svg
Due: bun run check, bun run check-colors

feat: add Dooor folder icon
  icons/folder-dooor-open.svg
  icons/folder-dooor.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add support for `vitest.unit.config` and `vitest.e2e.config` file patterns
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add support for `vitest.unit.config` and `vitest.e2e.config` file patterns (#3252)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(swift): extend Swift file icon mappings
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(swift): extend Swift file icon mappings (#3253)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Add light property to agents icon configuration
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add dedicated icons for license files (#3239)
  icons/folder-certificate-open.svg
  icons/folder-certificate.svg
  icons/folder-license-open.svg
  icons/folder-license.svg
  icons/license.svg
  icons/unlicense.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: update schema version to 2.3.4 in biome.jsonc
  biome.jsonc
Due: none
