Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

feat: add c# folder icons
  icons/folder-csharp-open.svg
  icons/folder-csharp.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

add tsdown icon
  icons/tsdown.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

[wip] actions folder
  icons/folder-actions-open.svg
  icons/folder-actions.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add new icon for Umbral
  icons/umbral.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: bring claude icons into 16x16 grid
  icons/claude.svg
  icons/folder-claude-open.svg
  icons/folder-claude.svg
Due: bun run check, bun run check-colors

feat: add folder icon for gemini ai
  icons/folder-gemini-ai-open.svg
  icons/folder-gemini-ai.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

update icon
  icons/folder-gemini-ai-open.svg
  icons/folder-gemini-ai.svg
Due: bun run check, bun run check-colors

feat: add folder icon for gemini ai (#3313)
  icons/folder-gemini-ai-open.svg
  icons/folder-gemini-ai.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

new c++ folder design
  icons/folder-cpp-open.svg
  icons/folder-cpp.svg
Due: bun run check, bun run check-colors

feat: new c and csharp folder icon
  icons/folder-c-open.svg
  icons/folder-c.svg
  icons/folder-csharp-open.svg
  icons/folder-csharp.svg
Due: bun run check, bun run check-colors

new blender icon
  icons/blender.svg
Due: bun run check, bun run check-colors

blender folder icons
  icons/folder-blender-open.svg
  icons/folder-blender.svg
Due: bun run check, bun run check-colors

fix: update Blender logo (#3285)
  icons/blender.svg
  icons/folder-blender-open.svg
  icons/folder-blender.svg
Due: bun run check, bun run check-colors

feat: add BensinDB icon support
  icons/bensindb.svg
  package-lock.json
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: add 'uv.lock' to uv file icon recognition (Fixes #3316)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: add 'uv.lock' to uv file icon recognition (Fixes #3316) (#3317)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: update oxc, vite and vitest new icons
  icons/oxc.svg
  icons/vite.svg
  icons/vitest.svg
Due: bun run check, bun run check-colors

Include `outputs` folder in `folder_dist` name Including the plural `outputs` in addition to `output` is consistent with how `inputs` and `input` are handled.
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(feat): Include `outputs` folder in `folder_dist` name (#3322)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: italian translations
  package.nls.it.json
  src/core/i18n/translate.ts
  src/core/i18n/translations/lang-it.ts
Due: bun run lint, bun run test

feat : add kdl language icon for '.kdl' file extension
  icons/kdl.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: changing the icon alignment
  icons/kdl.svg
Due: bun run check, bun run check-colors

feat(icons): extend Gemini folder icon mapping to gemini and gemini-ai
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

wip
  icons/tsdown.svg
Due: bun run check, bun run check-colors

chore: format folderIcons
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: italian translations (#3329)
  package.nls.it.json
  src/core/i18n/translate.ts
  src/core/i18n/translations/lang-it.ts
Due: bun run lint, bun run test

feat(icons): extend Gemini folder icon mapping to gemini and gemini-ai (#3334)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(icons): add redux and redux-reducer folder icon support
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

add setting
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

remove comma
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(icons): refine redux and redux-toolkit folder icon mappings
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: Include `agent`,`agents` folder in `folder_robot` in name (#3336)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(icons): add redux and redux-reducer folder icon support (#3335)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(-components): as components
  src/core/generator/folderGenerator.ts
Due: bun run lint, bun run test

chore(.gitignore): .vscode/*
  .gitignore
Due: none

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  markdownlint: any of: *.md
