Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

feat: include language IDs into the file icons
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: update dependencies
  bun.lock
  package.json
Due: none

docs: update contributing guidelines for folder icon structure
  .github/workflows/folder-structure-check.yml
  CONTRIBUTING.md
Due: markdownlint

refactor: replace svgson with Bun built-in HTMLRewriter
  bun.lock
  package.json
  src/core/generator/clones/utils/cloning.ts
  src/core/generator/clones/utils/color/colors.ts
  src/core/helpers/svg.ts
  src/core/tests/helpers/svg.test.ts
  src/core/tests/icons/cloning.test.ts
  src/scripts/icons/checks/checkFolderIconStructure.ts
  src/scripts/svg/generateOpenFolderIcons.ts
Due: bun run lint, bun run test

chore: remove unused events dependency
  bun.lock
  package.json
Due: none

chore: remove unused biome dependency
  bun.lock
  package.json
  src/core/generator/clones/utils/color/colors.ts
Due: bun run lint, bun run test

refactor: convert icon checks to async/await
  src/scripts/icons/checks/checkIconAvailability.ts
  src/scripts/icons/checks/checkIconConflicts.ts
  src/scripts/icons/checks/checkIconUsage.ts
  src/scripts/icons/checks/checks.test.ts
Due: bun run lint

feat: update script names
  package.json
  src/scripts/icons/checks/checkFolderIconStructure.test.ts
  src/scripts/icons/checks/checkFolderIconStructure.ts
  src/scripts/icons/checks/checkIconAvailability.test.ts
  src/scripts/icons/checks/checkIconAvailability.ts
  src/scripts/icons/checks/checkIconConflicts.test.ts
  src/scripts/icons/checks/checkIconConflicts.ts
  src/scripts/icons/checks/checkIconUsage.test.ts
  src/scripts/icons/checks/checkIconUsage.ts
Due: bun run lint

fix(ci): missing bun installation step
  .github/workflows/release.yml
Due: none

add support for metro.config.ts icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add support for metro.config.ts icon (#3467)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add collectors folder icon
  icons/folder-collectors-open.svg
  icons/folder-collectors.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: adjust collectors folder icon width
  icons/folder-collectors-open.svg
  icons/folder-collectors.svg
Due: bun run check, bun run check-colors

feat: support collector folder name
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix: adjust collectors folder icon width icon to the right 1 pixel
  icons/folder-collectors-open.svg
  icons/folder-collectors.svg
Due: bun run check, bun run check-colors

feat: support workspaceFolder paths for custom SVG file icons
  README.md
  src/core/tests/icons/fileIcons.test.ts
  src/extension/tools/changeDetection.ts
  src/extension/tools/customIconPaths.test.ts
  src/extension/tools/customIconPaths.ts
Due: bun run lint, bun run test, markdownlint

fix(icon): fix internal folder
  icons/folder-internal-open.svg
  icons/folder-internal.svg
Due: bun run check, bun run check-colors

fix: follow new folder icon structure
  icons/folder-collectors-open.svg
  icons/folder-collectors.svg
Due: bun run check, bun run check-colors

feat: add codex icons
  icons/codex.svg
  icons/folder-codex.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: Update fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add latex file extensions (#3474)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Add hip file extension icon mapping
  icons/hip.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: use AMD red #ED1C24 to fill hip icon
  icons/hip.svg
Due: bun run check, bun run check-colors

fix: use Material Color Converter to convert amd logo color
  icons/hip.svg
Due: bun run check, bun run check-colors

feat: add `.cjs` and `.mjs` support for vue.config file
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add `.cjs` and `.mjs` support for vue.config file (#3479)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add Eucode folder and file icons
  .claude/settings.json
  icons/eucode.svg
  icons/folder-eucode.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: align icon to 16x16 grid
  icons/hip.svg
Due: bun run check, bun run check-colors

feat: add hip file extension icon mapping (#3476)
  icons/hip.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: stop tracking local Claude Code config
  .claude/settings.json
  .gitignore
Due: none

feat: add benchmark icon for markdown files
  icons/bench-md.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add question/FAQ icons for folders and files
  icons/folder-question.svg
  icons/question.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add document icon for doc.md and docs.md files
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add roadmap folder icon
  icons/folder-roadmap.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add `.cargo` folder icon mapping
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add `.cargo` folder icon mapping (#3491)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  markdownlint: any of: *.md
