Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

feat: assign Storybook icon to `.stories.vue` file extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: darken oxc icon color for better contrast on a light background
  icons/oxc.svg
Due: bun run check, bun run check-colors

feat: ✨ grid aligning
  icons/oxc.svg
  icons/vite.svg
  icons/vitest.svg
Due: bun run check, bun run check-colors

feat: update oxc, vite and vitest new icons (#3320)
  icons/oxc.svg
  icons/vite.svg
  icons/vitest.svg
Due: bun run check, bun run check-colors

test(folderIcons): new - folderNames
  src/core/tests/icons/folderIcons.test.ts
Due: bun run lint, bun run test

feat(-components): as components (#3338)
  src/core/generator/folderGenerator.ts
  src/core/tests/icons/folderIcons.test.ts
Due: bun run lint, bun run test

feat(icons): add icon support for .aab files
  icons/androidscript.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

add setting
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

add svg
  icons/folder-mcp-open.svg
  icons/folder-mcp.svg
Due: bun run check, bun run check-colors

非表示にしていたパスが残っていたので削除 refs #3021
  icons/folder-mcp-open.svg
  icons/folder-mcp.svg
Due: bun run check, bun run check-colors

update motive
  icons/folder-mcp-open.svg
  icons/folder-mcp.svg
Due: bun run check, bun run check-colors

feat: assign Storybook icon to `.stories.vue` file extensions (#3341)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icon): add macaulay2 icon
  icons/macaulay2.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add form folder icon
  icons/folder-form-open.svg
  icons/folder-form.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: enhance oxlint config support
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: enhance oxlint config support (#3353)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

add rule refs #3279
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: include `benches` folder in the `folder-benchmark`
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix: update config folder icon
  icons/folder-config-open.svg
  icons/folder-config.svg
Due: bun run check, bun run check-colors

format: remove accidental new line
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: Include `benches` folder in the `folder-benchmark` for Rust's conventional benchmark directory (#3356)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Update macaulay2.svg
  icons/macaulay2.svg
Due: bun run check, bun run check-colors

create icon refs #3354
  icons/typedoc.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

remove size refs #3354
  icons/typedoc.svg
Due: bun run check, bun run check-colors

feat(icons): add typedoc icon
  icons/typedoc.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: group typedoc as no-recolor
  icons/typedoc.svg
Due: bun run check, bun run check-colors

fix: use 16x16 viewbox
  icons/typedoc.svg
Due: bun run check, bun run check-colors

fix: brighten icon
  icons/typedoc.svg
Due: bun run check, bun run check-colors

feat(icon): add form folder icon
  icons/folder-form-open.svg
  icons/folder-form.svg
Due: bun run check, bun run check-colors

revert: config folder icon
  icons/folder-config-open.svg
  icons/folder-config.svg
Due: bun run check, bun run check-colors

feat: update Traditional Chinese translations
  package.nls.zh-TW.json
  src/core/i18n/translations/lang-zh-tw.ts
Due: bun run lint, bun run test

feat: update Traditional Chinese translations (#3363)
  package.nls.zh-TW.json
  src/core/i18n/translations/lang-zh-tw.ts
Due: bun run lint, bun run test

feat(icon): optimize icon (#3349)
  icons/macaulay2.svg
Due: bun run check, bun run check-colors

feat(icon): add macaulay2 icon (#3349)
  icons/macaulay2.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: update typedoc icon colors
  icons/typedoc.svg
Due: bun run check, bun run check-colors

fix: add missing comma in typedoc fileNames array
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icon): add `typedoc` icon (#3360)
  icons/typedoc.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for .toon files
  icons/toon.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add light variant for .toon icon
  icons/toon_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  markdownlint: any of: *.md
