Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

feat: add new file name for firebase
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

remove onnx light variant
  icons/onnx.svg
  icons/onnx_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: fix icon incorrect
  icons/folder-metro-open.svg
  icons/folder-metro.svg
  icons/metro.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: Shader icon for GLSL raytracing, SPIR-V and Slang files
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Update metro icons with better alignment
  icons/folder-metro-open.svg
  icons/folder-metro.svg
  icons/metro.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add file and folder icons for metro bundler (#3161)
  icons/folder-metro-open.svg
  icons/folder-metro.svg
  icons/metro.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: Shader icon for GLSL raytracing, SPIR-V and Slang files (#3166)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix(folder-icons): remove extra curly brace
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

chore(gitignore): dedupe *.tgz and add header for package archives
  .gitignore
Due: none

chore(gitignore): ignore .DS_Store
  .gitignore
Due: none

chore(gitignore): dedupe *.tgz and add .DS_Store (#3168)
  .gitignore
Due: none

feat(icons): add icon for Verse programming language (#3144)
  icons/verse.svg
  icons/verse_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add Bashly icon pack support
  package.json
  package.nls.cs.json
  package.nls.de.json
  package.nls.es.json
  package.nls.fr.json
  package.nls.id.json
  package.nls.ja.json
  package.nls.json
  package.nls.ko.json
  package.nls.nl.json
  package.nls.pl.json
  package.nls.pt-BR.json
  package.nls.pt-PT.json
  package.nls.ru.json
  package.nls.zh-CN.json
  package.nls.zh-TW.json
  src/core/models/icons/iconPack.ts
Due: bun run lint, bun run test

feat(file-icons): add notice/authors/contributors and their variants to certificate icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icon-theme): add notice file and its .md/.rst/.txt extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add icons for Bashly files
  icons/bashly-hook.svg
  icons/bashly.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for filters folder
  icons/folder-filter-open.svg
  icons/folder-filter.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add onnx icon (#3160)
  icons/onnx.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: prefix some Bashly file names with `src/`
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: set the height of the `bashly-hook` icon equal to the `bashly` icon
  icons/bashly-hook.svg
Due: bun run check, bun run check-colors

refactor: update `console` icon for a pixel-perfect alignment
  icons/console.svg
Due: bun run check, bun run check-colors

feat: add new icons for opentofu
  icons/opentofu.svg
  icons/opentofu_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: ✨ rounded corners + small tweaks
  icons/folder-toc-open.svg
  icons/folder-toc.svg
  icons/toc.svg
Due: bun run check, bun run check-colors

Align to 16px rather than 32px
  icons/opentofu.svg
  icons/opentofu_light.svg
Due: bun run check, bun run check-colors

feat: ✨ add nginx to language icons config
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

refactor: update `console` icon for a pixel-perfect alignment (#3175)
  icons/console.svg
Due: bun run check, bun run check-colors

feat: ✨ add nginx to language icons config (#3178)
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

feat: optimize icon with Inkscape
  icons/opentofu.svg
  icons/opentofu_light.svg
Due: bun run check, bun run check-colors

feat: add new icons for opentofu (#3177)
  icons/opentofu.svg
  icons/opentofu_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update biome config
  biome.jsonc
Due: none

refactor: minify the icon for filters folder
  icons/folder-filter-open.svg
  icons/folder-filter.svg
Due: bun run check, bun run check-colors

feat: add icons for Bashly files and folders (#3174)
  icons/bashly-hook.svg
  icons/bashly.svg
  icons/folder-filter-open.svg
  icons/folder-filter.svg
  package.json
  package.nls.cs.json
  package.nls.de.json
  package.nls.es.json
  package.nls.fr.json
  package.nls.id.json
  package.nls.ja.json
  package.nls.json
  package.nls.ko.json
  package.nls.nl.json
  package.nls.pl.json
  package.nls.pt-BR.json
  package.nls.pt-PT.json
  package.nls.ru.json
  package.nls.zh-CN.json
  package.nls.zh-TW.json
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
  src/core/models/icons/iconPack.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: new google icon file
  icons/google.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: new google icon file
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: google icon colors
  icons/google.svg
Due: bun run check, bun run check-colors

fix(icons): use fileExtensions for toc icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icons): add icon for toc (table of contents) (#3140)
  icons/folder-toc-open.svg
  icons/folder-toc.svg
  icons/toc.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: eas folders
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix: fix metro icons
  icons/folder-metro-open.svg
  icons/folder-metro.svg
  icons/metro.svg
Due: bun run check, bun run check-colors
