Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["markdownlint"]
}

feat: add uiua file icons
  icons/uiua.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: added AI folder icon
  icons/folder-ai-open.svg
  icons/folder-ai.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add rolldown icon
  icons/rolldown.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

re-snapped icons to grid
  icons/folder-postman-open.svg
  icons/folder-postman.svg
Due: bun run check, bun run check-colors

feat: new icons
  icons/folder-skills-open.svg
  icons/folder-skills.svg
  icons/skill.svg
  icons/skill_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add rolldown icon (#3411)
  icons/rolldown.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: update file icon patterns for Rspress and Rslint
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: update file icon patterns for Rspress and Rslint (#3414)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: align icons with grid
  icons/folder-skills-open.svg
  icons/folder-skills.svg
  icons/skill.svg
Due: bun run check, bun run check-colors

feat: add folder and icon for skills (#3367)
  icons/folder-skills-open.svg
  icons/folder-skills.svg
  icons/skill.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

replaced rocket man with helmet motive
  icons/folder-postman-open.svg
  icons/folder-postman.svg
Due: bun run check, bun run check-colors

fix(workflows): release to npm
  .github/workflows/release.yml
Due: none

feat(icon): add folder-go icon
  icons/folder-go-open.svg
  icons/folder-go.svg
Due: bun run check, bun run check-colors

feat: add new icons for Zed
  icons/folder-zed-open.svg
  icons/folder-zed.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add tsdown icon
  icons/tsdown.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Add files via upload
  icons/aspire.svg
Due: bun run check, bun run check-colors

add: ferret icons
  icons/ferret_icon.svg
  icons/ferret_lockfile.svg
  icons/ferret_manifest.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

remove background
  icons/ferret_lockfile.svg
Due: bun run check, bun run check-colors

fix(icon): appwrite icon color
  icons/folder-appwrite-open.svg
  icons/folder-appwrite.svg
Due: bun run check, bun run check-colors

fix(icon): add golang icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Add next.js icon to next.env.d.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: new eas folder and icon
  icons/eas.svg
  icons/eas_light.svg
  icons/folder-eas-open.svg
  icons/folder-eas.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: svg color
  icons/folder-eas-open.svg
  icons/folder-eas.svg
Due: bun run check, bun run check-colors

fix(icon): update icon color
  icons/folder-appwrite-open.svg
  icons/folder-appwrite.svg
Due: bun run check, bun run check-colors

feat(icon): add appwrite icons (#3392)
  icons/appwrite.svg
  icons/folder-appwrite-open.svg
  icons/folder-appwrite.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: change eas for expo icon
  icons/eas.svg
  icons/eas_light.svg
  icons/expo.svg
  icons/expo_light.svg
  icons/folder-eas-open.svg
  icons/folder-eas.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: new icons for eas files
  icons/expo.svg
  icons/expo_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: use more detailed devops motive
  icons/folder-devops-open.svg
  icons/folder-devops.svg
Due: bun run check, bun run check-colors

fix(icon): modify proposed icon
  icons/assembly.svg
  icons/folder-assembly-open.svg
  icons/folder-assembly.svg
Due: bun run check, bun run check-colors

feat: added gitea workflows icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

format code
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: improve colors
  icons/folder-go-open.svg
  icons/folder-go.svg
Due: bun run check, bun run check-colors

feat(icon): add go-lang folder icon (#3391)
  icons/folder-go-open.svg
  icons/folder-go.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): assembly file/folder icons (#3397)
  icons/assembly.svg
  icons/folder-assembly-open.svg
  icons/folder-assembly.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: added gitea workflows icon (#3427)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: Add Postman Folder (#3376)
  icons/folder-postman-open.svg
  icons/folder-postman.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add devops name variations
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add TAPL Lang file icon
  icons/tapl-lang.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add kotlin folder icon
  icons/folder-kotlin-open.svg
  icons/folder-kotlin.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors
