Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["bun run markdownlint"]
}

Fix unity icons
  icons/folder-unity-open.svg
  icons/folder-unity-open_light.svg
  icons/folder-unity.svg
  icons/folder-unity_light.svg
  icons/unity.svg
  icons/unity_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

make unity icon bit lighter
  icons/unity.svg
Due: bun run check, bun run check-colors

Pixel-perfect adjustments to unity icon
  icons/folder-unity-open.svg
  icons/folder-unity.svg
  icons/unity.svg
Due: bun run check, bun run check-colors

Update scons icons
  icons/folder-scons-open.svg
  icons/folder-scons.svg
  icons/scons.svg
  icons/scons_light.svg
Due: bun run check, bun run check-colors

feat: add epub icon
  icons/epub.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: expand the list of file extensions for the `audio` icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(ci): 🤖 do not trigger `pr-title` and `pr-closed` if the author is renovate[bot]
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Due: none

feat: add epub icon (#2838)
  icons/epub.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(ci): fix failing pr closed pipeline
  .github/workflows/pr-closed.yml
Due: none

feat: add `scons` icons (#2826)
  icons/folder-scons-open.svg
  icons/folder-scons.svg
  icons/scons.svg
  icons/scons_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add Typst manifest file
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add Typst manifest file (#2841)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: update unity icon (#2827)
  icons/folder-unity-open.svg
  icons/folder-unity.svg
  icons/shaderlab.svg
  icons/unity.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(ci): optimized contributors workflow
  src/scripts/contributors/contributors.ts
  src/scripts/helpers/screenshots.ts
Due: bun run lint, bun run test

feat: add `kits` folder name for `tools` folder icon (#2831)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: ✨ regedit file icon
  icons/regedit.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: ✨ regedit file icon (#2845)
  icons/regedit.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: :ambulance: Fixes rendering of icons due to invalid hash in file names
  src/extension/shared/config.ts
Due: bun run lint, bun run test

feat: expand the list of file extensions for the `audio` icon (#2839)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: expand the list of file extensions for the `email` icon (#2834)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add quantum icon
  icons/folder-quantum-open.svg
  icons/folder-quantum.svg
  icons/quantum.svg
  icons/quantum_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: generate icons as 16×16
  src/core/generator/fileGenerator.ts
  src/core/generator/folderGenerator.ts
  src/core/generator/shared/svg.ts
Due: bun run lint, bun run test

chore: integrate minor `.vscode/` tweaks
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Due: none

feat: add gnuplot icon
  icons/gnuplot.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: filter clone language icons for fileIcons.png
  src/scripts/preview/run.ts
Due: bun run lint, bun run test

Add fixed fileIcons png
  images/fileIcons.png
Due: none

fix: filter clone language icons for fileIcons.png (#2858)
  images/fileIcons.png
  src/scripts/preview/run.ts
Due: bun run lint, bun run test

feat: add gnuplot icon (#2859)
  icons/gnuplot.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icons for freebsd, netbsd and puredarwin
  icons/folder-darwin-open.svg
  icons/folder-darwin.svg
  icons/folder-freebsd-open.svg
  icons/folder-freebsd.svg
  icons/folder-netbsd-open.svg
  icons/folder-netbsd.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore: integrate minor `.vscode/` tweaks
  .vscode/settings.json
  .vscode/tasks.json
Due: none

fix: update folder icon colors for darwin, freebsd, netbsd
  icons/folder-darwin-open.svg
  icons/folder-darwin.svg
  icons/folder-freebsd-open.svg
  icons/folder-freebsd.svg
  icons/folder-netbsd-open.svg
  icons/folder-netbsd.svg
Due: bun run check, bun run check-colors

Update usage of chroma.js
  src/core/generator/clones/utils/color/colors.ts
  src/core/generator/clones/utils/color/materialPalette.ts
Due: bun run lint, bun run test

feat: add folder icon for sandbox
  icons/folder-sandbox-open.svg
  icons/folder-sandbox.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: update Angular icon with new gradient design
  icons/angular.svg
Due: bun run check, bun run check-colors

fix: update folder icon colors for sandbox
  icons/folder-sandbox-open.svg
  icons/folder-sandbox.svg
Due: bun run check, bun run check-colors

Update package version
  bun.lock
  package.json
Due: none

chore: integrate minor `.vscode/` tweaks (#2857)
  .vscode/settings.json
  .vscode/tasks.json
Due: none

fix(ci): update labels
  .github/labeler.yml
  .github/workflows/close-stale-issues.yml
Due: none

feat: map react-components folder name to folder icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

chore: update code of conduct
  CODE_OF_CONDUCT.md
Due: bun run markdownlint
