Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["bun run markdownlint"]
}

feat: add file icon for Adobe Illustrator files (#2933)
  icons/adobe-illustrator.svg
  icons/adobe-illustrator_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix(ci): pr title workflow should be executed on updates
  .github/workflows/pr-title.yml
Due: none

feat: add the subtitle icon to `.ass` files (#2944)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Make kusto icons align to 16x16 pixels
  icons/folder-kusto-open.svg
  icons/folder-kusto.svg
  icons/kusto.svg
Due: bun run check, bun run check-colors

feat: add new icons for storage folder
  icons/folder-storage-open.svg
  icons/folder-storage.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icons for kusto (#2936)
  icons/folder-kusto-open.svg
  icons/folder-kusto.svg
  icons/kusto.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icons): add PackShip package builder icon
  icons/packship.svg
  package-lock.json
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icon for swagger
  icons/folder-swagger-open.svg
  icons/folder-swagger.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Delete package-lock.json
  package-lock.json
Due: none

fix: update folder icon colors for swagger
  icons/folder-swagger-open.svg
  icons/folder-swagger.svg
Due: bun run check, bun run check-colors

fix: Added margin spacing for the icon and removed the white background to avoid contrasting according to guidelines
  icons/packship.svg
  package-lock.json
Due: bun run check, bun run check-colors

feat: Added new packship icon variant for light mode editors
  icons/packship_light.svg
Due: bun run check, bun run check-colors

Enabled light and dark mode configurations in fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Simplified the file extensions recognition for packship
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add support for more Python-adjacent file types
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add support for more Python-adjacent file types (#2954)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

refactor: make the icons smaller in size and better margin optimized
  icons/packship.svg
  icons/packship_light.svg
Due: bun run check, bun run check-colors

fix: pass color test with suggested colors
  icons/packship.svg
  icons/packship_light.svg
Due: bun run check, bun run check-colors

fix: add missing/trailing comma
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix(#2956): 🚑 simplifies firebase icon structures
  icons/firebase.svg
Due: bun run check, bun run check-colors

fix(#2956): 🚑 firebase icon not working (#2957)
  icons/firebase.svg
Due: bun run check, bun run check-colors

feat(icons): update CSS icons with new designs
  icons/css-map.svg
  icons/css.svg
  icons/folder-css-open.svg
  icons/folder-css.svg
Due: bun run check, bun run check-colors

feat: add folder icon for policy
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: folder icon for policy
  icons/folder-policy-open.svg
  icons/folder-policy.svg
Due: bun run check, bun run check-colors

fix(icons): fix `react-components` icons
  icons/folder-react-components-open.svg
  icons/folder-react-components.svg
Due: bun run check, bun run check-colors

refactor: one chromatic color for the packship icon
  .DS_Store
  icons/.DS_Store
  icons/packship.svg
  icons/packship_light.svg
  package-lock.json
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: one chromatic color for the packship icon
  package-lock.json
Due: none

fix(icons): fix `react-components` folder icons (#2961)
  icons/folder-react-components-open.svg
  icons/folder-react-components.svg
Due: bun run check, bun run check-colors

feat: add new icons for CSS (#2710)
  icons/css-map.svg
  icons/css.svg
  icons/folder-css-open.svg
  icons/folder-css.svg
Due: bun run check, bun run check-colors

feat(icons): add support for `turbo.jsonc` file in turborepo icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icons): add support for `turbo.jsonc` file in turborepo icon (#2963)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Remove DS Store files
  .DS_Store
  icons/.DS_Store
Due: none

Reduce file size of icon by reshaping it
  icons/packship.svg
Due: bun run check, bun run check-colors

fixing icon and folder for policy
  icons/folder-policy-open.svg
  icons/folder-policy.svg
Due: bun run check, bun run check-colors

fix(icons): update folder names for 'folder-sandbox' icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test
