Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

align a little bit
  icons/folder-migrations-open.svg
Due: bun run check, bun run check-colors

[WIP] update folder
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

wip
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

more changes
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

change colors
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

Update invalid colors
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

Folder migrations
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

improve alignment
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

make the database element taller and also give the arrow more space to breath
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

Update colors
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

wip
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

fix
  icons/folder-migrations-open.svg
Due: bun run check, bun run check-colors

fix: update SVG structure and improve formatting for folder-migrations icons
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
Due: bun run check, bun run check-colors

feat: migrations folder (#3187)
  icons/folder-migrations-open.svg
  icons/folder-migrations.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add salt file and folder icons
  icons/folder-salt-open.svg
  icons/folder-salt.svg
  icons/salt.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add salt file and folder icons (#3275)
  icons/folder-salt-open.svg
  icons/folder-salt.svg
  icons/salt.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: update Deno logo to new version
  icons/deno.svg
  icons/deno_light.svg
Due: bun run check, bun run check-colors

feat: refine shape of Deno and Deno Light icons
  icons/deno.svg
  icons/deno_light.svg
Due: bun run check, bun run check-colors

fix: update Deno logo to new version (#3278)
  icons/deno.svg
  icons/deno_light.svg
Due: bun run check, bun run check-colors

feat: Add additional esbuild file patterns
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

[wip] actions folder
  icons/folder-actions-open.svg
  icons/folder-actions.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: update Blender logo to upstream version
  icons/blender.svg
  icons/folder-blender-open.svg
  icons/folder-blender.svg
Due: bun run check, bun run check-colors

apply folder-docs to diary and notes
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: use folder-docs icon for folder name 'knowledge'
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: use folder-audio icon for folder names 'playlist' and 'playlists'
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: use folder-server icon for folder names 'inventory', 'inventories', and 'infra'
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: use folder-project icon for folder names 'proj' and 'projs'
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: use folder-server icon for folder name 'infrastructure'
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: apply folder-docs to diary and notes (#3292)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

agent, agents folders
  icons/folder-agent-open.svg
  icons/folder-agent.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

color enhancement
  icons/folder-agent-open.svg
  icons/folder-agent.svg
Due: bun run check, bun run check-colors

feat: added some folder names (#3293)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: extended folder-functions to include composables folders
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: extended folder-functions to include composables folders (#3301)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

add tsdown icon
  icons/tsdown.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add 'terraformignore' file extension to terraform icon configuration
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: Add 'terraformignore' file extension to terraform icon configuration (#3305)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add C and C++ folder icons
  icons/folder-c-open.svg
  icons/folder-c.svg
  icons/folder-cpp-open.svg
  icons/folder-cpp.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  markdownlint: any of: *.md
