Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

#2697 Added icons for dart, .dart_tool, .dart_tools
  icons/folder-dart-open.svg
  icons/folder-dart.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Fixed an issue about pixcel-perfect
  icons/folder-dart-open.svg
  icons/folder-dart.svg
Due: bun run check, bun run check-colors

Add vanilla-extract
  icons/vanilla-extract.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update style about logo svg
  icons/folder-dart-open.svg
  icons/folder-dart.svg
Due: bun run check, bun run check-colors

feat: add wrangler icon for wrangler.json and wrangler.jsonc
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Align horizontally
  icons/vanilla-extract.svg
Due: bun run check, bun run check-colors

feat: add wrangler icon for wrangler.json and wrangler.jsonc (#2871)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: 🚑 colors
  icons/folder-sandbox-open.svg
  icons/folder-sandbox.svg
Due: bun run check, bun run check-colors

feat: add folder icon for sandbox (#2862)
  icons/folder-sandbox-open.svg
  icons/folder-sandbox.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icons for about dart (#2869)
  icons/folder-dart-open.svg
  icons/folder-dart.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for `commitizen`
  icons/commitizen.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icons for about shopify and sections
  icons/folder-sections-open.svg
  icons/folder-sections.svg
  icons/folder-shopify-open.svg
  icons/folder-shopify.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update typescript icons
  icons/typescript-def.svg
  icons/typescript.svg
Due: bun run check, bun run check-colors

Add cline file icon
  icons/cline.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Add cline folder icon
  icons/folder-cline-open.svg
  icons/folder-cline.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: add icon margin
  icons/commitizen.svg
Due: bun run check, bun run check-colors

feat: ✨ improved pixel perfectness
  icons/commitizen.svg
Due: bun run check, bun run check-colors

feat: add cline icons (#2879)
  icons/cline.svg
  icons/folder-cline-open.svg
  icons/folder-cline.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: update typescript icons (#2878)
  icons/typescript-def.svg
  icons/typescript.svg
Due: bun run check, bun run check-colors

feat: add icon for `commitizen` (#2874)
  icons/commitizen.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: enhance GraphQL Config files
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Update folderIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

refactor: switch pattern to `Cosmiconfig`
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: enhance GraphQL Config files (#2890)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: wrong mapping in folderIcons.ts (#2892)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Fix fileIcons.ts mappings
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix: wrong mappings in `fileIcons.ts` (#2893)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Update fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Update JS and CSS icons to be more pixel perfect
  icons/css-map.svg
  icons/javascript-map.svg
  icons/javascript.svg
Due: bun run check, bun run check-colors

feat: add `.sub` extension to subtitle files (#2894)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add icon for crossplane
  icons/crossplane.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icons for crossplane
  icons/folder-crossplane-open.svg
  icons/folder-crossplane.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icon for zeabur
  icons/folder-zeabur-open.svg
  icons/folder-zeabur.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

update icon
  icons/folder-zeabur-open.svg
  icons/folder-zeabur.svg
Due: bun run check, bun run check-colors

feat: add uv icon
  icons/uv.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add uv icon (#2898)
  icons/uv.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add folder icon for zeabur (#2897)
  icons/folder-zeabur-open.svg
  icons/folder-zeabur.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: *.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  bun run markdownlint: any of: *.md
