Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["bun run markdownlint"]
}

feat: add ets icon for ArkTS
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

feat: add .d.ets icon for ArkTS
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: associate the `.ets` and `.d.ets` extensions to typescript icon to support the ArkTS language (#2966)
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

fixed sizes
  icons/folder-policy-open.svg
  icons/folder-policy.svg
Due: bun run check, bun run check-colors

feat: add plural folder names for folder-sandbox icon (#2965)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix: 🚑 shapes postioning
  icons/folder-policy-open.svg
  icons/folder-policy.svg
Due: bun run check, bun run check-colors

Update folderIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(icons): add PackShip package builder icon (#2947)
  icons/packship.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add song and songs to audio folder icon (#2967)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add policy folder (#2960)
  icons/folder-policy-open.svg
  icons/folder-policy.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add bench and perf to benchmark folder icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add bench and perf to benchmark folder icon (#2968)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add `supabase.ts` to list of supabase icons
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add `supabase.ts` to list of supabase icons (#2970)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add palette and palettes to theme folder icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add const and consts to constant folder icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add const and consts to constant folder icon (#2972)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add palette and palettes to theme folder icon (#2973)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add folder icon for lighthouse
  icons/folder-lighthouse-open.svg
  icons/folder-lighthouse.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add tsdown icon
  icons/tsdown.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update fileIcons.ts
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icons): add Snakemake icon
  icons/snakemake.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix: standardize quotes for Snakemake fileNames
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icons): align to pixel grid
  icons/snakemake.svg
Due: bun run check, bun run check-colors

feat: associate Docker icon to `dockerbake` language ID
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

feat: associate Docker icon to `dockerbake` language ID (#2982)
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

feat(icons): add Snakemake icon (#2980)
  icons/snakemake.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: update citation icon to match rounded style
  icons/citation.svg
Due: bun run check, bun run check-colors

refactor: update citation icon to match rounded style (#2990)
  icons/citation.svg
Due: bun run check, bun run check-colors

refactor: reposition the motive
  icons/folder-archive-open.svg
  icons/folder-archive.svg
Due: bun run check, bun run check-colors

feat: associate archive folder to a new icon
  icons/folder-archive-open.svg
  icons/folder-archive.svg
  icons/folder-backup-open.svg
  icons/folder-backup.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: reposition the motive and change the icon colors
  icons/folder-archive-open.svg
  icons/folder-archive.svg
Due: bun run check, bun run check-colors

feat: add icon for hadolint configuration files
  icons/hadolint.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: improve shapes and colors of hadolint icon
  icons/hadolint.svg
Due: bun run check, bun run check-colors

feat: implement YAML file extensions pattern
  src/core/icons/fileIcons.ts
  src/core/models/icons/patterns/patterns.ts
  src/core/patterns/patterns.ts
Due: bun run lint, bun run test

docs: document the YAML pattern in the contribution guidelines
  CONTRIBUTING.md
Due: bun run markdownlint

refactor: remove the cat's whiskers from the hadolint icon
  icons/hadolint.svg
Due: bun run check, bun run check-colors

feat: recreate different icons for hooks and triggers folders
  icons/folder-hook-open.svg
  icons/folder-hook.svg
  icons/folder-trigger-open.svg
  icons/folder-trigger.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors
