Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

fix: fix metro icons
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

[Icon Request]: secret Fixes material-extensions/vscode-material-icon-theme#3165
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add `secret` file extension icon mapping (#3189)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add google icon (#3181)
  icons/google.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(icons): changed Input icons
  icons/folder-input-open.svg
  icons/folder-input.svg
Due: bun run check, bun run check-colors

fix(folderIcons): updated folder-dist and adapted for folder-inputs
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(icons): add support for 'meson.options' file in meson icon mapping
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat(icons): add support for 'meson.options' file in meson icon mapping (#3190)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix(icons): standardize color values and formatting in folder icons;
  icons/folder-input-open.svg
  icons/folder-input.svg
  icons/folder-shared-open.svg
  icons/folder-simulations-open.svg
  icons/folder-simulations.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add `.ets`、`.d.ets` icons and remove `.ets`、`.d.ets` from typescript
  icons/ets-def.svg
  icons/ets.svg
  material-colors.yml
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(folderIcons): format folder names for consistency in folder-input icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: use folder-svg icon for folder name 'vector'
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: use folder-svg icon for folder name 'vectors'
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add support for 'werf-includes' file extensions in icon mapping
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: use folder-svg icon for folder name 'vector' (#3193)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat(icon): nginx folder icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

docs: fix translations path
  README.md
Due: markdownlint

feat(icons): add happo icon
  icons/happo.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

docs: fix translations path (#3198)
  README.md
Due: markdownlint

fix(icons): update happo to align with grid
  icons/happo.svg
Due: bun run check, bun run check-colors

feat(icons): add happo icon (#3199)
  icons/happo.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

chore(deps): update schema version to 2.2.5 in biome.jsonc
  biome.jsonc
Due: none

fix(svg): remove unnecessary line breaks in folder-shared-open.svg
  icons/folder-shared-open.svg
Due: bun run check, bun run check-colors

feat: ✨ add new folder icon for Data Access Layer
  icons/folder-dal-open.svg
  icons/folder-dal.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

added minimalist rspack/rsbuild/rslib/rspress/rslint icon
  icons/rspack.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

renamed to rspack logo to rstack, like web-infra calls it, fixed some config mistakes.
  icons/rspack.svg
  icons/rstack.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Changed icon color to material design color and font to Open Sans Bold instead of Semibold
  icons/rstack.svg
Due: bun run check, bun run check-colors

changed icon to 16px with 1px padding
  icons/rstack.svg
Due: bun run check, bun run check-colors

fixed my illustrator export
  icons/rstack.svg
Due: bun run check, bun run check-colors

fixed formatting/linting issues
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: clone `bashly-hook` icon for Bashly strings file
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

chore(svg): clean up SVG files by removing unnecessary metadata
  icons/folder-dal-open.svg
  icons/folder-dal.svg
Due: bun run check, bun run check-colors

feat: clone `bashly-hook` icon for Bashly strings file (#3209)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: ✨ add new folder icon for Data Access Layer (#3203)
  icons/folder-dal-open.svg
  icons/folder-dal.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

replaced font in icon with pixelperfect font, updated (shrank) patterns
  icons/rstack.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for ShellCheck rc files
  icons/shellcheck.svg
  icons/shellcheck_light.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icons for cuelang
  icons/cue.svg
  icons/folder-cue-open.svg
  icons/folder-cue.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

fix(folderIcons): moved 'output' and 'out' to folder-dist
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(folderIcons): restored folder-dist to the original version
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(folderIcons): restore 'output' folder name to folder-dist
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  markdownlint: any of: *.md
