Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

docs: 📝 use only one recommended icon source
  CONTRIBUTING.md
  README.md
Due: bun run markdownlint

refactor(ci): ♻️ use the DRY principle in order not to repeat the name of the extension file
  .github/workflows/release.yml
Due: none

chore(devcontainer): ⏫ update preinstalled extensions list (#2800)
  .devcontainer/devcontainer.json
Due: none

feat: add wrangler icon (#2802)
  icons/wrangler.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Update icon color
  icons/beancount.svg
Due: bun run check, bun run check-colors

feat(ci): 🔖 add appropriate labels to PRs with failed checks (#2793)
  .github/scripts/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
  .github/workflows/pr-title.yml
Due: none

feat: add beancount icon (#2784)
  icons/beancount.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor(ci): ♻️ organize the structure of workflows (#2799)
  .github/FUNDING.yml
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/color-check.yml
  .github/workflows/icon-review.yml
  .github/workflows/label.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
Due: none

feat: add Rust folder icons and update icon mapping
  icons/folder-rust-open.svg
  icons/folder-rust.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

[Feature Request]: Customize workspace folder icons Fixes material-extensions/vscode-material-icon-theme#2804
  CONTRIBUTING.md
  README.md
  package.json
  package.nls.json
  src/core/generator/applyConfigToIcons.ts
  src/core/generator/clones/clonesGenerator.ts
  src/core/generator/clones/utils/cloneData.ts
  src/core/generator/clones/utils/cloning.ts
  src/core/generator/clones/utils/color/colors.ts
  src/core/generator/config/defaultConfig.ts
  src/core/generator/folderGenerator.ts
  src/core/generator/iconOpacity.ts
  src/core/helpers/configHash.ts
  src/core/icons/folderIcons.ts
  src/core/index.ts
  src/core/models/icons/config.ts
  src/core/models/icons/folders/folderIcon.ts
  src/core/models/manifest.ts
  src/core/tests/helpers/object.test.ts
  src/core/tests/icons/cloning.test.ts
  src/core/tests/icons/folderIcons.test.ts
  src/extension/commands/folderColor.ts
  src/extension/commands/rootFolderColor.ts
  src/extension/tools/registered.ts
  src/scripts/icons/checks/checkIconConflicts.ts
  src/scripts/icons/generateJson.ts
Due: bun run lint, bun run test, bun run markdownlint

Update lintstage config
  .lintstagedrc
Due: none

chore: update author information
  LICENSE
  README.md
  package.json
  src/module/README.md
Due: bun run markdownlint

fix: 🚑 unify color in the cube
  icons/folder-bloc-open.svg
  icons/folder-bloc.svg
Due: bun run check, bun run check-colors

feat: update Rust folder icons with new SVG paths and colors
  icons/folder-rust-open.svg
  icons/folder-rust.svg
Due: bun run check, bun run check-colors

fix: 🚑 cube vertices
  icons/folder-bloc-open.svg
  icons/folder-bloc.svg
Due: bun run check, bun run check-colors

feat: add BLoC folder icon (#2806)
  icons/folder-bloc-open.svg
  icons/folder-bloc.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Fix issue with color adjustments
  src/core/generator/applyConfigToIcons.ts
Due: bun run lint, bun run test

Refactor resolve path function
  src/core/helpers/resolvePath.ts
Due: bun run lint, bun run test

chore: 💵 update funding links
  .github/FUNDING.yml
  bun.lock
Due: none

feat: simplify the contributor table generation script and reduce the number of dependencies
  .gitignore
  bun.lock
  package.json
  src/scripts/contributors/contributors.css
  src/scripts/contributors/contributors.ts
  src/scripts/models/scripts/contributors/contributor.ts
  src/scripts/models/scripts/contributors/contributorsConfig.ts
Due: bun run lint, bun run test

refactor(ci): use `okineadev/add-labels` action for managing labels
  .github/scripts/update-status-label.sh
  .github/workflows/build.yml
  .github/workflows/color-check.yml
Due: none

refactor(ci): ♻️ use reusable workflows
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Due: none

fix(ci): fix workflows
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Due: none

refactor(ci); remove names
  .github/workflows/pr-closed.yml
  .github/workflows/pr-title.yml
Due: none

update `okineadev/add-labels` action
  .github/workflows/build.yml
  .github/workflows/color-check.yml
Due: none

chore: 💵 update funding links (#2808)
  .github/FUNDING.yml
  bun.lock
Due: none

use more dependencies and use innovative solutions :neckbeard:
  bun.lock
  package.json
  src/core/models/scripts/contributors/contributor.d.ts
  src/scripts/contributors/contributors.ts
Due: bun run lint, bun run test

feat(ci): add the option to select a custom version of the release
  .github/workflows/release.yml
Due: none

update action name
  .github/workflows/build.yml
  .github/workflows/color-check.yml
Due: none

[Feature Request]: Customize workspace folder icons Fixes material-extensions/vscode-material-icon-theme#2804
  CONTRIBUTING.md
  README.md
Due: bun run markdownlint

docs: 📝 update links to icon sources (#2803)
  CONTRIBUTING.md
  README.md
Due: bun run markdownlint

Add repository folder icons (Closes #1549)
  icons/folder-repository-open.svg
  icons/folder-repository.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

leave using env with `HUSKY: 0`
  .github/workflows/release.yml
Due: none

refactor(ci): ♻️ use `HUSKY: 0` in env according to the DRY (#2812)
  .github/workflows/release.yml
Due: none

feat: make `github-sponsors` icon more materialized
  icons/github-sponsors.svg
Due: bun run check, bun run check-colors

Update contributing
  CONTRIBUTING.md
Due: bun run markdownlint

Refactor code
  src/core/generator/config/defaultConfig.ts
Due: bun run lint, bun run test

feat: make `github-sponsors` icon more materialized (#2815)
  icons/github-sponsors.svg
Due: bun run check, bun run check-colors

feat: enhance nodejs support
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

docs: 📝 fixed newline in schema and improved formatting
  CONTRIBUTING.md
Due: bun run markdownlint

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: *.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  bun run markdownlint: any of: *.md
