Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, markdownlint

feat(icon): add internal folder icon
  icons/folder-internal-open.svg
  icons/folder-internal.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Added comma
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: invert folder devops svg colors
  icons/folder-devops-open.svg
  icons/folder-devops.svg
Due: bun run check, bun run check-colors

add external to folder-lib
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add external, externals and thirdparty to folder-lib icons (#3434)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: added cmake folder icons
  icons/folder-cmake-open.svg
  icons/folder-cmake.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): add kotlin folder icon (#3431)
  icons/folder-kotlin-open.svg
  icons/folder-kotlin.svg
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: adjusted colors
  icons/expo.svg
  icons/expo_light.svg
Due: bun run check, bun run check-colors

feat: dot is not required (we support it out of the box for all folders)
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: new icons for eas files (#3425)
  icons/expo.svg
  icons/expo_light.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat(icon): update internal color
  icons/folder-internal-open.svg
  icons/folder-internal.svg
Due: bun run check, bun run check-colors

added agent icon
  icons/agent.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add CAD file extensions to 3d icon mapping
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

formatting
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

grid adjustments
  icons/agent.svg
Due: bun run check, bun run check-colors

further grid alignment
  icons/agent.svg
Due: bun run check, bun run check-colors

fix: simplify the hammer
  icons/tsdown.svg
Due: bun run check, bun run check-colors

Add support for vercel.ts icon (typed Vercel configuration)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Apply suggestion from @Copilot
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Format fileNames array for 'vercel' icon
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add fileonix icon
  icons/fileonix.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: support jxl image file type
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add folder associations for cargo projects
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(icon): improve colors
  icons/folder-zed-open.svg
  icons/folder-zed.svg
Due: bun run check, bun run check-colors

feat(icon): improve colors
  icons/folder-internal-open.svg
  icons/folder-internal.svg
Due: bun run check, bun run check-colors

feat(icon): add redis icon
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(icon): add missing folder name
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix(icon): minimize folder icons
  icons/folder-database-open.svg
  icons/folder-database.svg
Due: bun run check, bun run check-colors

fix(icon): fix merge
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Add ferris icon file
  icons/rust_ferris.svg
Due: bun run check, bun run check-colors

Add rust_ferris icon entry to languageIcons
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test

fix(icon): normalize folder icons
  icons/folder-admin.svg
  icons/folder-liquibase.svg
  icons/folder-log.svg
  icons/folder-lottie.svg
  icons/folder-lua.svg
  icons/folder-macos.svg
  icons/folder-mail.svg
  icons/folder-mappings.svg
  icons/folder-mercurial.svg
  icons/folder-messages.svg
  icons/folder-meta.svg
  icons/folder-metro.svg
  icons/folder-middleware.svg
  icons/folder-migrations.svg
  icons/folder-mjml.svg
  icons/folder-mobile.svg
  icons/folder-mock.svg
  icons/folder-mojo.svg
  icons/folder-molecule.svg
  icons/folder-moon.svg
  icons/folder-netlify.svg
  icons/folder-next.svg
  icons/folder-node.svg
  icons/folder-organism.svg
  icons/folder-other.svg
  icons/folder-packages.svg
  icons/folder-template.svg
  icons/folder-terraform.svg
  icons/folder-test.svg
  icons/folder-theme.svg
  icons/folder-toc.svg
  icons/folder-tools.svg
  icons/folder-typescript.svg
  icons/folder-ui.svg
  icons/folder-update.svg
  icons/folder-upload.svg
  icons/folder-utils.svg
  icons/folder-verdaccio.svg
  icons/folder-vm.svg
  icons/folder-windows.svg
Due: bun run check, bun run check-colors

fix(icon): normalize folder icons
  icons/folder-archive.svg
  icons/folder-bibliography.svg
  icons/folder-hook.svg
  icons/folder-link.svg
  icons/folder-obsidian.svg
  icons/folder-trash.svg
Due: bun run check, bun run check-colors

feat: add more unit tests for writefile helper function
  biome.jsonc
  bun.lock
  package.json
  src/core/tests/helpers/writeFile.test.ts
Due: bun run lint, bun run test

fix(icon): normalize folder icons
  icons/folder-appwrite-open.svg
  icons/folder-appwrite.svg
  icons/folder-assembly-open.svg
  icons/folder-assembly.svg
  icons/folder-dal-open.svg
  icons/folder-dal.svg
  icons/folder-database-open.svg
  icons/folder-database.svg
  icons/folder-directive-open.svg
  icons/folder-directive.svg
  icons/folder-filter-open.svg
  icons/folder-filter.svg
  icons/folder-form-open.svg
  icons/folder-form.svg
  icons/folder-go-open.svg
  icons/folder-go.svg
  icons/folder-kotlin-open.svg
  icons/folder-kotlin.svg
  icons/folder-license-open.svg
  icons/folder-license.svg
  icons/folder-react-components-open.svg
  icons/folder-react-components.svg
  icons/folder-snapcraft-open.svg
  icons/folder-snapcraft.svg
  icons/folder-zed-open.svg
  icons/folder-zed.svg
Due: bun run check, bun run check-colors

feat: add support for F++ language (.fpp) file icon
  icons/fplusplus.svg
  package-lock.json
  package.json
  src/core/icons/fileIcons.ts
  src/core/icons/fplusplus.svg
Due: bun run lint, bun run test, bun run check, bun run check-colors

Path conditions:
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
  bun run check: any of: icons/*.svg
  bun run check-colors: any of: icons/*.svg
  markdownlint: any of: *.md
