Repository material-extensions/vscode-material-icon-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint, bun run test, bun run check, bun run check-colors, bun run markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"],
  "icons/*.svg": ["bun run check", "bun run check-colors"],
  "*.md": ["bun run markdownlint"]
}

Adjust file extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Align icon to 16x16 grid
  icons/coloredpetrinets.svg
Due: bun run check, bun run check-colors

feat: add cpn icon (#3005)
  icons/coloredpetrinets.svg
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add icon for .xsh files
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

style: format fileIcons.ts to pass biome check
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add .xsh to console icon (#3012)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add PyTorch file and folder icons
  icons/folder-pytorch-open.svg
  icons/folder-pytorch.svg
  icons/pytorch.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

style: format icon mappings to pass Biome check
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

feat: add icons for pyret (and compiled)
  icons/jarr.svg
  icons/pyret.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

refactor: finalize PyTorch icon colors and folder styling for improved contrast
  icons/folder-pytorch-open.svg
  icons/folder-pytorch.svg
  icons/pytorch.svg
Due: bun run check, bun run check-colors

small tweaks to improve pixel visibility at 16px
  icons/folder-pytorch-open.svg
  icons/folder-pytorch.svg
  icons/pytorch.svg
Due: bun run check, bun run check-colors

feat: add PyTorch file and folder icons (#3014)
  icons/folder-pytorch-open.svg
  icons/folder-pytorch.svg
  icons/pytorch.svg
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Add files via upload
  icons/datastructure.svg
Due: bun run check, bun run check-colors

Update folderIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

Add files via upload
  icons/folder-datastructure-open.svg
  icons/folder-datastructure.svg
Due: bun run check, bun run check-colors

Add files via upload
  icons/folder-datastructure.svg
Due: bun run check, bun run check-colors

feat: add new config file for Prisma
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

style: format source code
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add new config file for Prisma (#3035)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

`.mocharc.cjs` and `nyc.config.cjs` are valid file names for those configs.
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

fix(icons): `.mocharc.cjs` and `nyc.config.cjs` are valid names for those config files (#3039)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add new LaTeX icons and set better colors
  icons/context.svg
  icons/doctex-installer.svg
  icons/latexmk.svg
  icons/tex.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

feat: add new icons for TeX/LaTeX related files and set better colors (#3042)
  icons/context.svg
  icons/doctex-installer.svg
  icons/latexmk.svg
  icons/tex.svg
  src/core/icons/fileIcons.ts
  src/core/icons/languageIcons.ts
Due: bun run lint, bun run test, bun run check, bun run check-colors

Add cmake icon to CMakePresets.json
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: add blender icons
  icons/blender-icon.svg
  icons/folder-blender-open.svg
  icons/folder-blender.svg
Due: bun run check, bun run check-colors

refactor: remove unneeded metadata and separate each style attribute
  icons/blender-icon.svg
  icons/folder-blender-open.svg
  icons/folder-blender.svg
Due: bun run check, bun run check-colors

feat: associate blender icons with relevant files and folders
  src/core/icons/fileIcons.ts
  src/core/icons/folderIcons.ts
Due: bun run lint, bun run test

fix: corrected blender icon filename
  icons/blender.svg
Due: bun run check, bun run check-colors

feat: add additional common 3d file extensions
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

feat: Add CMake icon to CMakePresets.json (#3045)
  src/core/icons/fileIcons.ts
Due: bun run lint, bun run test

Update VSCode icon
  icons/vscode.svg
Due: bun run check, bun run check-colors

Update VSCode Icon
  icons/vscode.svg
Due: bun run check, bun run check-colors
